﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="CrystalReportsNet.Site" %>

<!doctype html>

<html>
<head id="Head1" runat="server">
    <title>Untitled Page</title>
    <link href="Styles/global.css" rel="stylesheet" type="text/css" />
    <link href="Styles/StyleNED.css" rel="stylesheet" type="text/css" />
    <link href="Styles/HintStyle.css" rel="stylesheet" type="text/css" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!--    <script type="text/javascript" src="~/Scripts/jquery-1.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.4.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.4.1-vsdoc.js"></script>  -->
    <!-- Style sheet must appear before the iFrame and the Javascript after the iFrame -->

    <!--[if lte IE 6]><!--[if gte IE 5.5]><IFRAME 
    id=hintboxiframe style="DISPLAY: none; Z-INDEX: 99; POSITION: absolute" src="" 
    frameBorder=0></IFRAME><![endif]-->
    <!--![endif]-->


    <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>
</head>
<body id="myBody" runat="server">

    <form id="form1" runat="server">
    <div id="shell">
        <table style="width:100%">
            <tr>
                <td>
                    <table style="width:100%; padding:0; text-align:center; border:0">
                        <tr>
                            <td style="width:30%">
                                <div style="text-align:left"">
                                    <asp:image ID="Image1" ImageUrl="~/images/logo.gif" runat="server" Width="221" AlternateText="Smith &amp; Nephew" />
                                </div>
                            </td>
		                    <td style="vertical-align:top; text-align:left;color:#FF7300">Please note this application will be down for maintenance beginning at 8:30pm ET on 15-April until 8:30am ET on 17-April</td>
                            <td style="width:35%">
                                <div style="text-align:right">
                                    <asp:Label runat="server" ID="lblAppName" BorderStyle="None" ForeColor="DarkGray" BackColor="White"
                                        BorderColor="White" Font-Size="16pt" Font-Bold="True"></asp:Label>
                                    <asp:Literal ID="ltlEnvBreak" runat="server" Text="<br />"></asp:Literal>
                                    <asp:Label runat="server" ID="lblEnvironment" BorderStyle="None" ForeColor="DarkGray" BackColor="White"
                                        BorderColor="White" Font-Size="12pt" Font-Bold="True"></asp:Label>
                               </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <hr />
                            </td>
                        </tr>
                    </table>

                    <table style="background-color:#676264; text-align:center; table-layout:fixed; width:100%" >
                        <tr>
                            <td style="text-align:left">
                                <asp:Menu ID="NavMenu" runat="server" Orientation="Horizontal" CssClass="ID"  
                                    OnMenuItemClick="OnClick" BackColor="#676264" DynamicHorizontalOffset="2" 
                                    Font-Names="Arial, Helvetica, sans-serif" Font-Size="10pt" ForeColor="#666666" 
                                    StaticSubMenuIndent="40px" StaticEnableDefaultPopOutImage="false">
                                    <DynamicHoverStyle BackColor="#666666" ForeColor="White" />
                                    <DynamicMenuItemStyle HorizontalPadding="50px" VerticalPadding="4px"></DynamicMenuItemStyle>

                                    <DynamicMenuStyle BackColor="#E3EAEB" />
                                    <DynamicSelectedStyle BackColor="#1C5E55" />
                                    <StaticHoverStyle BackColor="#666666" ForeColor="White" />

                                    <StaticMenuItemStyle HorizontalPadding="50px" VerticalPadding="4px"></StaticMenuItemStyle>
                                    <StaticSelectedStyle BackColor="#1C5E55" />
                                </asp:Menu>
                            </td>
                            <td style="text-align:right">
                                <asp:Label ID="LabelUser" runat="server" Font-Bold="true" ForeColor="#FF7300" Font-Size="10pt" Text="User: "></asp:Label>
                                <asp:Label ID="lblUser" runat="server" ForeColor="#FF7300" Font-Size="10pt"></asp:Label>
                            </td>
                         </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td style="width:100%; vertical-align:top; text-align:center">
                    <asp:Label ID="lblMasterMessage" runat="server" ForeColor="#FF7300" Font-Size="10pt"></asp:Label>
                </td>
            </tr>
            <tr>
                <td style="width:100%; vertical-align:top">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server">
                        <style type="text/css">

                            a.ms-dlgCloseBtn:nth-child(2) {
                                display:block;
                            }
                        </style>
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            
        </table>
    </div>
    </form>
</body>
</html>