﻿<%@ Page Title="Approve Form" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ApproveForm.aspx.cs" Inherits="NonEmpNotification.ApproveForm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

	<table style="width:100%">
		<tr>
			<td style="width:20%">&nbsp;</td>
			<td><br/><br/><br/><asp:label id="lblMessage" runat="server" Font-Bold="true"/></td>
			<td>&nbsp;</td>
		</tr>	
	</table>

</asp:Content>
