﻿
#hintbox{ /*CSS for pop up hint box */
    position:absolute; top: 0; background-color: #FFFFC0; width: 200px; /*Default width of hint.*/ 
    padding: 3px; border:1px solid black; font:normal 11px Verdana; line-height:18px;
    z-index:100; border-right: 3px solid black; border-bottom: 3px solid black;
    visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
    font-weight: bold; color: navy; margin: 3px 8px;
}


