/* styles to be used in Smith & Nephew */
.yourpaddingclass {
padding: 20px;
}
/* body */
body {margin:0px;	padding:0px;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:0.8em;background-color:#cccccc;color:#666667;}
/* shell */
#shell {margin:auto;padding:10px;width:980px;background-color:#FFFFFF;text-align:center;}

/* region-body-and-footer */
#region-body-and-footer {margin:auto;padding:0px;width:960px;text-align:left;background-color:#FFFFFF;}

/* header */
#horizontalNav {margin:10px 0px 0px 0px;padding-top:3px;padding-bottom:3px;	text-transform:uppercase;color:#FFFFFF;font-family:Arial;font-size:0.9em;width:960px;background-color:#676264;height: 15px;text-align: center;}

#horizontalNav ul {margin:0px;padding:0px;list-style-type:none;display:inline;}

#horizontalNav ul li{padding-left:20px;padding-right:20px;border-left:1px solid #cccccc;display:inline;}

#horizontalNav ul li.first{border:none;}

#horizontalNav ul li a {color:#FFFFFF;text-decoration:none;}

#horizontalNav ul li a:hover {color:#f09026;text-decoration:none;}

.nav_products #products a,
.nav_education #education a,
.nav_community #community a,
.nav_innovation #innovation a,
.nav_news #news a,
.nav_investors #investors a,
.nav_about_us #about_us a{color:#ffffff;text-decoration:none;}

.nav_products #products a,
.nav_education #education a,
.nav_community #community a,
.nav_innovation #innovation a,
.nav_news #news a,
.nav_investors #investors a,
.nav_about_us #about_us a{	font-weight: bold;}

/* breadcrumbs */
#breadcrumbs {margin:0px;padding:16px 0 10px 10px;height: 20px;font-size: .9em;color:#999999;text-decoration:none;}

#breadcrumbs ul {list-style:none;margin:0;padding:0;text-decoration:none;}

#breadcrumbs ul li {color:#85898b;text-decoration:none;display:inline;}

#breadcrumbs ul li a{color:#f19205;text-decoration:none;display:inline;}

#breadcrumbs a {color:#999999;text-decoration:none;}

#breadcrumbs a:hover {text-decoration:underline;}

#breadcrumbs li {display: inline;padding: 0 2px 0 0;text-transform: uppercase;}

html>body #breadcrumbs li {padding: 0 2px 0 0;}

#breadcrumbs ul li.selected {color:#85898b;text-decoration:none;}

#breadcrumbs li a:after {white-space: pre;content: '\/';padding-left: 5px;color:#999;}

#breadcrumbs li a {behavior: url(css/breadcrumb.htc); /* calls IE specific script to add '>' */}

/* region body */
#region-body {}

/* region-left-navigation */
#region-left-navigation {float:left;margin-right:22px;padding-right:10px;width:137px;background-color:#676264;font-size:0.9em;}
#region-left-navigation ul {padding:0;margin: 10px 0;color:#FFFFFF;list-style-type:none;}
#region-left-navigation ul li{padding: 0 0 12px 10px;font-weight:normal;}
#region-left-navigation ul a{text-decoration:none;color:#FFFFFF;}
#region-left-navigation ul a:hover{text-decoration:none;color:#f08f28;}
#region-left-navigation .selected a{color:#f08f28; font-weight: bold}
#region-left-navigation .selected a:hover{color:#FFFFFF; font-weight: bold}
#region-left-navigation ul.child_left_nav {padding:0;margin: 10px 0;color:#FFFFFF;list-style-type:none;}
#region-left-navigation ul.child_left_nav li{padding: 0 0 12px 10px;font-weight:normal;font-size:10pt;}
#region-left-navigation ul.child_left_nav a{text-decoration:none;color:#FFFFFF;font-weight:normal;}
#region-left-navigation ul.child_left_nav a:hover{text-decoration:none;color:#f08f28;font-weight:normal;}
#region-left-navigation .childselected a{color:#FFFFFF; font-weight: bold; }
#region-left-navigation .childselected a:hover{color:#f08f28; font-weight: bold;}

/* region-left-navigation */
#region-left-navigation-empty {float:left;margin-right:22px;padding-right:10px;width:137px;font-size:0.9em;}


/* region content */
#region-content {float:left;width:785px;}

/* research programmes module */
#researchProgrammes {float:left;width:263px;border:1px dotted #cccccc;padding:0px;margin-top: 20px;font-size:0.9em;}

#researchProgrammes div.lightGreyBg {float:left;background:#edeeee url(../images/bulletsBg.gif) right top no-repeat;width:130px;padding-left:5px;padding-top:33px;padding-right:10px;padding-bottom:33px;font-size:1em;line-height:18px;color:#666666;text-align:left;margin:0px;}

#researchProgrammes div.lightGreyBg p {	width:105px;margin-right:10px;padding:0px;}

#researchProgrammes div.lightGreyBg p span.highlighted {color:#f19029;}

#researchProgrammes ul {margin-top:12px;padding-bottom:0px;list-style-type:none;}

#researchProgrammes ul li{margin-top:15px;padding:0px;list-style-type:none;}

#researchProgrammes ul li span.description {margin:0px;display:block;font-size:0.8em;}

#latestInnovations {float:left;width:394px;border:1px dotted #cccccc;padding:0px;margin-top: 16px;}

.inno_intro {float:left;margin-top:-170px;_margin-top:-173px;margin-left:188px;_margin-left:95px;position:absolute;_position:relative; width:185px; border:solid #f19209 1px;padding:5px 10px 10px 8px; font-size:0.9em;}

.page-heading-orange, page-heading-blue, page-heading-green {font-family:Arial;line-height:21px; font-size:1.2em;font-weight:bold;}

.page-heading-orange span{background-color:#f19205; padding:2px; color:#fff;}

.page-heading-blue span{background-color:#78bde8; padding:2px; color:#fff;}

.page-heading-green span{background-color:#a5c536; padding:2px; color:#fff;}

h1 {background-color:#F89828;color:#ffffff;font-size: 1.2em;margin:0; padding: 3px;height: 17px;vertical-align: middle;}

h2 {margin:0px 0px 10px 0px;padding:0px;font-size:1.2em;color:#f09028;font-weight:normal;}

h3 {margin:0px;font-size:1.2em;font-weight:normal;}

h4 {margin:0px;font-size:1.0em;font-weight:normal;padding:0px;}

h5 {margin:0px;font-size:0.9em;font-weight:normal;line-height:17px;padding:0px;}

h2.event_register {margin-left:13px;margin-top:15px;}

/* orange title without backround color */
h1.pageHeading {background:none;color:#F89828;font-size: 1.2em;margin:0; padding:0px;height: 17px;width:130px;vertical-align: middle;}

h1.titleBlue, h2.titleBlue, h3.titleBlue, h5.titleBlue {background-color:#78BDE8;color:#ffffff;}

h5.titleBlue, h5.titleGreen, h5.titleOrange {margin-left:-1px;margin-top:-1px;}

h1.titleGreen, h2.titleGreen, h3.titleGreen, h5.titleGreen {background-color:#a5c536;color:#ffffff;}

h1.titleOrange, h2.titleOrange, h3.titleOrange, h5.titleOrange {background-color:#f19029;color:#ffffff;}

h1.titleBlue {font-size: 1.2em;}

span.titleGrey {color:#a1a1a5;font-size:1em;}

h1.titleGrey {color:#919295;font-size:1.4em;background:none;padding:0px;font-weight:normal;}

h2.titleGrey {color:#333333;font-size:1em;margin-left:10px;padding:0px;}

h3.orangeTitle {margin:0px;padding:0px;font-size:1.2em;font-weight:normal;color:#f09028;}

h5.teaserTitle {color:#666;font-size:1.0em; margin:0; padding:0;}

h6 {margin:0px;padding:0px;}

p {padding:0px;margin:0px;}

/* dotted dividers */
.horDivider {border-bottom:dotted 1px #cccccc;padding-top:5px;height:10px;overflow:hidden;}

/* height */
.height5 {height:5px;}

.height10 {height:10px;}

/* dotted border */
.dottedBorder {border:dotted 1px #cccccc;padding:0px;margin:0px;}

/* subsection title */
h4.subtitleSectionBlue {background:url(../images/bullet_list_blue.gif) left no-repeat;padding-right:5px;padding-left:40px;color:#666666;line-height:22px;width:310px;margin-bottom:5px;}

h4.subtitleSectionOrange {background:url(../images/bullet_list_orange.gif) left no-repeat;padding-right:5px;padding-left:40px;color:#666666;line-height:22px;width:310px;margin-bottom:5px;}

/* border */
.borderGrey {border:3px solid #d6d6d6;}

/* headline and titles */
.teaserTitleGreen {background-color:#a5c534;padding-left:3px;padding-right:3px;padding-top:5px;padding-bottom:5px;font-size:135%;color:#FFFFFF;font-weight:normal;font-stretch:expanded;}

/* board image and information */
.boardImage {background:url("../images/boardBg.jpg") no-repeat;width:115px;height:136px;padding-top:17px;margin-right:5px;}

.imageInfo {width:77px;margin:0px;margin-left:-4px;font-family:Arial;font-size:0.7em;line-height:10px;color:#fff;}

a.readMoreGreen {font-size:0.6em;background-color:#a5c534;padding:2px;color:#333333;}

/* float */
.floatRight {float:right;}

.floatLeft {float:left;}

.textLeft {text-align:left;}

.textRight {text-align:right;}

/* Section Landing Page Top Block */
.region-content-top-ad-2col {float:left;border:3px solid #d6d6d6;width:780px;margin-bottom:10px;}

.region-content-top-ad-2col div.column2 {float:right;width:240px;padding-left:10px;padding-bottom:10px;margin-right:5px;padding-top:20px;}

.region-content-top-ad-2col div.column2 ul {list-style-type:none;margin:0;padding:0;text-align:right;}

.region-content-top-ad-2col div.column2 ul li{margin-top:20px;vertical-align:bottom;}

.personLink {font-size:0.9em;color:#666666;background-color:#CCCCCC;padding-top:3px;padding-left:3px;padding-right:3px;margin-right:3px;width:90px;}

/* Body Copy 1 */
#section-detail-style1-2col {width:530px;margin-bottom:5px;background:url("../images/bkg_divider_vertical530.gif") repeat-y;padding-bottom:5px;}

#section-detail-style1-2col div.column1 {float:left;width:240px;}

#section-detail-style1-2col div.column2 {float:right;width:240px;}

#section-detail-style1-2col p {padding-bottom:15px;}

.clear {clear:both;padding:0px;margin:0px;}

.clear_left {clear: left;}

/* width classes */
.width30 {width:30px;}

.width50 {width:50px;}

.width56 {width:56px;}

.width85 {width:85px;}

.width95 {width:95px;}

.width105 {width:105px;}

.width115 {	width:115px;}

.width120 {width:120px;}

.width130 {width:130px;}

.width145 {width:145px;}

.width170 {width:170px;}

.width220 {width:220px;}

.width230 {width:230px;}

.width232 {width:232px;}

.width235 {width:235px;}

.width248 {width:248px;}

.width280 {width:280px;}

.width330 {width:330px;}

.width340 {width:340px;}

.width425 {width:425px;}

.width483 {width:483px;}

.width530 {width:530px;}

.width620 {width:620px;}

/* padding classes */
.padding3 {padding-bottom:3px;padding-left:3px;padding-right:3px;padding-top:3px;}

.padding5 {padding:8px;}

.padding10 {padding:10px;}

.padding15 {padding:15px;}

.paddingTop2 {padding-top:2px;}

.paddingTop5 {padding-top:5px;}

.paddingTop7 {padding-top:7px;}

.paddingTop10 {padding-top:10px;}

.paddingTop20 {padding-top:20px;}

.paddingTop50 {padding-top:50px;}

.paddingTop60 {padding-top:60px;}

.paddingBottom3 {padding-bottom:3px;}

.paddingBottom5 {padding-bottom:5px;}

.paddingBottom10 {padding-bottom:10px;}

.paddingBottom15 {padding-bottom:15px;}

.paddingBottom30 {padding-bottom:30px;}

.paddingLeft20 {padding-left:20px;}

.paddingLeft5 {padding-left:5px;}

.paddingLeft65 {padding-left:65px;}

.paddingLeftTopBottom15 {padding-left:15px;padding-top:15px;padding-bottom:15px;}

.paddingLeftRight3 {padding-left:3px;padding-right:3px;}

/* margin classes */
.marginTop2 {margin-top:2px;}

.marginTopMin50 {margin-top:5px; margin-left:-180px;}

.marginTop10 {margin-top:10px !important;}

.margin3 {margin:3px;}

.margin5 {margin:5px;}

.margin8 {margin:8px;}

.marginLeftMinus3 {margin-left:-3px;}

.marginLeft3 {margin-left:3px;}

.marginLeft5 {margin-left:5px;}

.marginLeft10 {margin-left:10px;}

.marginLeft13 {margin-left:13px;}

.marginLeft15 {margin-left:15px;}

.marginLeft30 {margin-left:50px;}


.marginRight3 {margin-right:3px;}

.marginRight5 {margin-right:5px;}

.marginRight10 {margin-right:10px;}

.marginRight15 {margin-right:15px;}

.marginRight20 {margin-right:20px;}

.marginTop5 {margin-top:5px;}

.marginTop7 {margin-top:7px;}

.marginTop20 {margin-top:20px;}

.marginTop15 {margin-top:15px;}

.marginTop60 {margin-top:53px;}

.marginBottom5 {margin-bottom:5px !important;}

.marginBottom10 {margin-bottom:10px;}

.marginBottom15 {margin-bottom:15px;}

.marginBottom20 {margin-bottom:20px;}

.marginLeftBottomRight5 {margin-left:5px;margin-bottom:5px;	margin-right:5px;}

.marginTop50Left76 {margin-top:45px;_margin-top:60px;margin-left:76px;_margin-left:78px;}

/* FAQ results */
.results {border:1px solid #ccc;padding-bottom:10px;margin-top: 10px;}

.results ol {margin:0px;padding:0px;}

.results ol.questionList {margin-left:40px;margin-bottom:0px;padding:0px;font-size:0.9em;color:#333333;}

.results ol.questionList li{margin:0px;padding-top:5px;list-style-position:inside;color: #f19209;}

.results ol.questionList li a{color:#f19209;}

.results ol.questionList li a:hover{text-decoration:underline;}

div.answers ol{margin:0px;padding:0px;color:#5D9BCF;}

div.answers ol li{margin:0px;color:#ccc;padding-left:15px;_padding-left:18px; /* for IE 5.5 and 6 */list-style-position:inside;background:url(../images/bkg_color_band_blue.gif) left top no-repeat;}

div.answers ol li p{margin-left:25px;padding:0px;color:#666;font-size:0.9em;}

/* search results */
.search {width:530px;margin-top:20px;background-color:#d4d4d4;padding:10px 5px 10px 7px;}

.search ul {margin:0;padding:0;width:530px;}

.search ul li{display:inline;padding-right:10px;list-style:none;}

/* DEC ..search ul li input.button{background-color:#f19209;color:#fff;width:70px;height:20px;cursor: hand; cursor: pointer;}*/

.search a{font-size:0.9em;text-decoration:none;margin-left:82px;}

.search a:hover{text-decoration:underline;}

.textBlue {font-size:1.0em;color:#5e9acd;}

.teaserText {font-family:Arial;font-size:0.85em;color:#666666;line-height:20px;}

.error {color: #ff0000;}

span.error {color: #ff0000;}

.email_page .error {font-size:0.85em;color:#ff0000;}

.email_page .note {font-size:0.85em;margin-bottom:10px;}

img {margin:0px;padding:0px;}

img.border {border:2px solid #ccc;}

.iconText {font-size:70%;color:#999999;	text-align:right;}

.adTitle {font-size:1.3em;color:#666666;line-height:15.43px;}

.detailsBody1 {float:left;width:788px;border:dotted 1px #cccccc;padding:0px;padding-bottom:15px;margin:0px;}

.detailsBody1 div.column1 {float:left;width:200px;margin-right:5px;}

.detailsBody1 div.column2 {width:578px;float:left;padding-right:5px;}

.detailsBody1 div.column2 p{padding-top:15px;}

.productComment {background-color:#f09026;color:#FFFFFF;padding-top:15px;padding-left:10px;padding-right:60px;padding-bottom:15px;font-size:1.6em;line-height:30px;}

a.iconText {font-size:0.8em;color:#666666;text-decoration:none;}

.supplemental {border:1px dotted #ccc;padding:0 0 5px 0;margin:0 0 16px 0;}

.supplemental ul {margin:0px;padding:0px;list-style:none;}

.supplemental ul li {padding:0 0 3px 0px;margin:0 0 0 3px;}

.supplemental ul li a{font-size:0.8em;color:#5a9ecd;text-decoration:none;}

.supplemental h2{margin:10px 3px 10px 3px;}

.supplemental h5 {padding: 2px 8px;}

.supplemental div a {font-size:0.8em;text-decoration:underline;}

.supplemental form {margin-left:10px;}

/* DEC ..supplemental form input {border:1px solid #ccc;}*/

.supplemental div a.smallLinkBlue {font-size:0.7em;color:#5a9ecd;text-decoration:none;}

ul.arrowGreenRight {margin-top:10px;margin-left:15px;margin-bottom:0px;padding:0px;color:#FFFFFF;}

ul.arrowGreenRight li{margin-top:15px;padding-left:17px;padding-top:0px;line-height:15px;color:#FFFFFF;list-style:none;background:url(../images/icn_arrow_green.gif) left top no-repeat;}

ul.arrowGreenRight li a{padding:0px;margin:0px;color:#999999;text-decoration:none;}

form {margin:0px;padding:0px;}

.smallLinkBlue {font-size:0.7em;color:#5a9ecd;text-decoration:none;}

.newsSelector {width:545px;background-color:#D5D7D8;padding:15px 0px 15px 10px;color:#333333;margin-top: 20px;}

/* DEC .newsSelector select, input {border:1px solid #cccccc;}*/

/* News listing */
.borderRight {background:url("../images/bkg_list_divider_orange.gif") right bottom repeat-y;margin:0px;padding:0px;}

.borderLeft {background:url("../images/bkg_list_divider_orange.gif") left bottom repeat-y;}

.borderBottom {border-bottom:1px dotted #ccc;}

.supplemental ul.list1 {margin:0;padding:0px;margin-left:5px;margin-top:10px;list-style:none;}

.supplemental ul.list1 li {background:url(../images/icn_arrow_blue.gif) no-repeat 0px 3px;padding-left:15px;}

.supplemental ul.list1 li a{color:#5a9ecd;font-size: .9em;text-decoration:none;}

.supplemental ul.list1 li a:hover {text-decoration: underline;}

a {color:#f19209;text-decoration:none;}

a:hover {text-decoration:underline;}

ul.selectList {margin:15px 5px 5px 30px;padding:0px;list-style:none;}

ul.selectList li{margin:0px;padding:0 0 10px 0px;list-style:none;}

ul.selectList li select{border:1px solid #333333;font-size:1.1em;color:#999999;width:150px;}

ul.browseCategory li{margin:0px;padding:0 0 3px 0px;list-style:none;}

.display-none {display:none;}

ul.browseCategory li div.browse-product a{display:block;border:solid #999 1px;font-size:1.1em;color:#617A06;width:184px;margin-left:6px;margin-bottom:5px;padding:1px;padding-left:4px;padding-right:4px;background:url(../images/icn_plus_green.gif) no-repeat 175px;}

.btn-view-products {background-color:#79bde9; color:#fff; padding:2px;border:none;}

#region-footer {border-bottom: 3px solid #bbb6b7;margin: 0;padding: 0;margin-top: 100px;padding-bottom: 10px;text-transform: uppercase;font-size: 0.8em;font-weight: bold;}

#region-footer ul li {display: inline;list-style: none;margin-left: 20px;}

#region-footer ul {margin-top: -5px;}

#region-footer ul#footer1 {float: right;}

#region-footer ul#footer2 {float: left;	padding-left: 0;}

#region-footer ul#footer2 li {margin-left: 0;margin-right: 20px;}

#region-footer a{text-decoration: none;color:#5d5b5c;}

#region-footer p{margin:0; padding:0;}

#region-footer a:hover{text-decoration: underline;}

a.keyword {color:#f09206;text-decoration:none;font-weight: bold;}

a.keyword:hover {text-decoration:underline;}

.keyword {color:#999999;font-weight: bold;}

.search a.link_adv_search {text-decoration:underline;}

ul.radioButtons {margin:0px;padding-top:10px;}

ul.radioButtons li {display:inline;padding:0px;list-style:none;}

ul.searchPagination {margin-top:20px;padding:5px;color:#666666;list-style:none;border:1px dotted #ccc;}

ul.searchPagination li{margin:0px;padding-left:5px;color:#666666;list-style:none;display:inline;}

ul.searchPagination li a{color:#a8c638;text-decoration:underline;}

ul.searchPagination li.selected{color:#333;font-size:1.2em;text-decoration:none;}

.searchPagination .keyword {color:#333;text-decoration:none;}

/* contact us */
.contact_us #region-body {padding-bottom: 50px;}

.contact_us #callout_wrap {width: 728px;margin-right: 20px;}

.contact_us #frm_contact_us {border: 1px solid #AAADAF;border-left: none;float: left; width: 498px; padding: 5px; height: 321px;background: url(../images/contactUs_form_bg.png) bottom right no-repeat; _margin-top:-3px;}

.contact_us #frm_contact_us p {float: right;}

.contact_us #frm_contact_us h2 {background-repeat: no-repeat; color: #7C7779;font-weight: bold;}

.contact_us .hero_contact_us {float: left;_margin-top:-3px;}

fieldset {border: none;margin-top: 5px;}

.contact_us fieldset ol {margin: 0;padding: 5px 0 10px 0;list-style: none; margin-top: 5px;}

.advanced_search fieldset {margin:0;padding-top:0;padding-bottom:0px;}

.advanced_search fieldset legend{color:#666667;}

.advanced_search fieldset ol {margin: 0;padding: 5px 0 10px 0;list-style: none; }

.contact_us fieldset ol li, .advanced_search fieldset ol li {list-style: none;margin: 0;padding: 5px 0;overflow: hidden;_height: 1%;}

#frm_advanced_search fieldset ol li span{margin-left:3px;/*	_margin-left:10px;*/font-size:0.9em;}

#frm_advanced_search fieldset ol li label{width:190px;text-transform:capitalize;margin-left:3px;_margin-left:6px;font-size:0.9em;}

.advanced_search .msg{font-size:0.9em;margin:0;padding:0;text-align:left;margin-right:42px;margin-left:15px;}

.contact_us fieldset .required, .advanced_search fieldset .required {color: #ff0000;}

.contact_us fieldset label {float: left;width: 150px;margin-right: 15px !important;_margin-right: 12px; /* for IE 5.5 and 6 */line-height: 1.7em;	vertical-align: top;text-align: right;font-size: .8em;text-transform:uppercase;}

.contact_us fieldset label {line-height: 1.2em;padding-top: .3em;padding-bottom: .4em;}

/* DEC .contact_us fieldset input, .advanced_search fieldset input {width: 16em;padding: 2px 2px 0;_padding: 2px 2px 0 2px;border: 1px solid #bbb;height: 17px !important;height : 20px;*/

.contact_us fieldset select, .advanced_search fieldset select {width: 16.4em;padding: 0;margin:0;border: 1px solid #bbb;}

.contact_us fieldset textarea, .advanced_search fieldset textarea {width: 16.4em;padding: 1px 2px 0;border: 1px solid #bbb;}

.contact_us fieldset ol ul label,
.contact_us fieldset li.checkbox label, 
.advanced_search fieldset ol ul label, 
.advanced_search fieldset li.checkbox label{float: none;width: auto;margin: 0;padding: 0;vertical-align: middle;line-height: 1.7em;}

/* DEC .contact_us fieldset input.submit,*/
/* DEC .contact_us fieldset input.reset,*/
/* DEC #advanced_search input.submit
{margin: 5px 0 0 100px;width: 70px;padding: 2px;border: none;color: #ffffff;font-size: .8em;cursor: hand; cursor: pointer;}

.contact_us #buttons {width: 100%; clear: left;}

.contact_us #buttons fieldset {margin: 0;padding: 0;}

.contact_us #buttons fieldset input {margin: 5px;padding: 2px;float: right;}

.contact_us input.submit {background-color:#79BDE9;border: none;}

.contact_us input.reset {background-color:#A6C535;border: none;}

.buttons {clear:left;text-align:right;margin:0;padding:0;margin-right:-22px;}

.buttons input.submit {	background-color:#79BDE9;float:right;border: none;margin:0;padding:1px;_padding-right:10px;color:#fff;width:70px;	font-size:0.85em;}

.buttons input.reset {	background-color:#A6C535;border: none;float:right;width:70px;color:#fff;font-size:0.85em;margin-right:5px;padding:1px;}
*/
/* D1 Details */
#detail_content_body {margin-top:16px;}

#detail_content_body p {margin-top: 10px;}

#detail_content_body img {vertical-align: middle; margin: 10px 0 0 0;}

#callout {float: right;width: 207px;}

.faq_teaser {border:1px dotted #ccc;margin: 16px 0 16px 0;	padding: 0px 10px 10px 0px; }

.teaser_heading_orange, .teaser_heading_green, .teaser_heading_blue {margin: 0px 10px 10px -1px;padding: 0;}

.teaser_heading_orange span {padding: 1px 5px;background-color:#f19029;color:#ffffff;font-size:0.9em;}

.teaser_heading_green span {padding: 1px 5px;background-color:#a5c536;color:#ffffff;font-size:0.9em;}

.teaser_heading_blue span {padding: 1px 5px;background-color:#78BDE8;color:#ffffff;	font-size:0.9em;}

.enhanced_performance .teaser_heading_blue span {padding: 1px 5px;background-color:#78BDE8;color:#ffffff;font-size:1.1em;}

.enhanced_performance h5 a{font-size:1.0em;}

.faq_teaser h5,
#latestInnovations h3 {margin-bottom: 10px;background-color:#f19029;color:#ffffff;width: 130px;padding: 2px 5px;}

.faq_teaser h5 {background-color:#5e9ccf;color:#ffffff;width: 100px;}

.faq_teaser h5 {margin-top: -20px; margin-left: -11px;font-size:1.1em;}

.news .teaser h5 {background-color: #78BDE8;}

.faq_teaser ul {margin: 0px 5px 0 5px; padding: 0px;list-style: none;margin-top: 8px;}

.faq_teaser ul li {margin: 0px;padding: 0px;margin-top: 5px;padding-left: 15px;background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;}

.teaser ul {margin: 0px; padding: 0px;list-style: none;}

.teaser ul li {margin:0px;margin-left:5px;padding:0;background:none;}

.teaser ul li p {margin-top: 5px;font-size:1em;}

.teaser ul li a {background: url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;padding-left:15px;text-decoration:none;font-size:.9em;}

.teaser ul li li a {background: url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;text-decoration:none;padding-left:15px;	font-size:.9em;}

.teaser ul li a.teaserTitle {text-decoration:none;font-size:1.1em;}

.teaser ul li .teaserTitle a:hover {text-decoration: underline;}

.faq_teaser ul li {margin-top: 10px;background:url(../images/icn_arrow_green.gif) no-repeat 0px 2px;}

.news .teaser ul li {background: url(../images/icn_arrow_blue.gif) no-repeat 0px 2px;}

.faq_teaser ul li a {text-decoration: none;color: #617A06;}

.faq_teaser ul li a:hover {text-decoration: underline;}

.teaser ul li a:hover,
.faq_teaser ul li a:hover {text-decoration: underline;}

.teaser li p.link_text {font-size:0.85em;margin-top:2px;margin-bottom:5px;padding-left:16px;}

.news .teaser ul li a {color: #3887B8;}

.d2_pdt_detail h1 {text-transform: uppercase;color: #676264;font-size: 1.3em;background: none;margin-left: 0;padding-left: 0;}

.d2_pdt_detail #callout {margin-top:16px;}

/*# Aug22 detail ul, #detail p ul {list-style:none;margin:0; padding:0; display:block;}

#detail ul li, #detail p ul li {list-style:none; margin:0;padding:0;background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;padding-left:15px;}

#detail ul li a{margin:0; padding:0; color:#f19209; text-decoration:none; font-size:0.9em;}

#detail ul li a:hover { text-decoration:underline;}*/

#detail ul.expand {margin:0; padding:0; list-style:none;font-size:0.9em;}

#detail ul.expand li, content_body_d2 #detail ul.expand li {list-style:none; margin:0;padding:0 0 5px 0;background:url(../images/icn_plus_green.gif) no-repeat left 2px;padding-left:0px; border:none;}

#detail ul.expand li a{color:#617A06; padding-left:15px;_padding-left:0px;}

#detail ul.links, #detail p ul.links {margin:10px 0 0 0; padding:0; list-style:none;font-size:0.9em; display:block;}

#detail ul.links li, #detail p ul.links li, content_body_d2 #detail ul.links li {list-style:none; margin:0;padding:0 0 5px 0;}

#detail ul.links li a{color:#f19209;background:url(../images/icn_orange_arrow.jpg) no-repeat left 2px;padding-left:15px;}

#detail ul {margin:10px 0 0 0; padding:0; margin-top:15px;}

#detail ul li {margin:0px; padding:0 0 5px 0;list-style:dot; list-style-position:inside;}

#detail ul li a{margin:0; padding:0;}

.d2_pdt_detail  a.back-to-top {color:#78BDE8;}

a.back-to-top {color:#78BDE8;}

#pdt_detail_links {background-color: #78BDE8; width: 555px; text-align: right;}

#pdt_detail_links ul {list-style: none;height: 17px;padding-top: 1px;font-size: .9em;}

#pdt_detail_links ul li {display: inline;color:#ffffff;padding-left:7px;padding-right:7px;margin-left: 20px;}

#pdt_detail_links ul li.last {margin-right:25px;}

#pdt_detail_links ul li a {color:#ffffff;}

#pdt_detail_links ul li.selected {color:#ffffff;text-decoration: underline;}

.contact_us h2 {margin:0px;padding:0px;font-size:1.2em;font-weight:normal;color:#f09028;}

.d1_details #callout {margin-top: 10px;}

.d1_details .container {width: 554px;}

.container {float:left;width: 554px;margin-right:18px;margin-top:10px;}

.grid4 {float:left;width:240px;margin:0px;padding:0px;}

/* Masthead */
#masthead a {font-size:0.8em;text-decoration: none;}

#masthead a:hover {text-decoration: underline;}

.button {background-color:#f19209;color:#FFFFFF; font-size:1.0em;padding:0px;margin:0px;border: none;height: 19px;cursor: hand; cursor: pointer;}

.masthead_button {background-color:#f19209;color:#FFFFFF; font-size:1.0em;border: none;padding: 0px 2px 2px 2px;height: 19px;margin-bottom: -1px;cursor: hand; cursor: pointer;}

.masthead_select {border: 1px solid #cccccc;font-size: .9em;margin: 0;padding: 0;height: 18px;position: relative;_top: 2px;width:auto;}

#masthead-links {float:right;margin:0px 0px 10px 0px;padding:0px;height: 30px; vertical-align: middle;}

#masthead-links img.flag {position: relative; top: 5px; _top: 2px;}

#masthead p a {	color:#f19205;}

#masthead-links a {font-size:0.8em;color:#f19205;}

#masthead-links li form{margin:0px;padding:0px;display:inline;}

.paddingRight5 {padding:0px 5px 0 0;}

/* D1 details */
.back-to-top {text-align:right;margin-top:10px;}

.back-to-top a{text-align:right;font-size:0.9em;color:#5a9ecd;}

#content_body {float: left; position: relative; margin-top: 16px; }

#content_body p {margin-top: 10px;}

#content_body img {margin: 0 0 10px 0;}

/*#content_body table.detail1 {margin-top:10px;}

#content_body table.detail1 th{background-color:#e1e1e1;padding:5px;}

#content_body table.detail1 tr.row1 td{background-color:#fff;padding:5px;}

#content_body table.detail1 tr.row2 td{background-color:#e1e1e1;padding:5px;}
*/
#content_body table {margin-top:20px;border-bottom:solid #ccc 1px; border-left:solid #ccc 1px; border-right:solid #ccc 1px; border-top:solid #ccc 1px;}

#content_body table.no_border {margin-top:20px;border:none;}

#content_body table.row_border {border-bottom:none;border-left:solid #ccc 1px; border-right:solid #ccc 1px; border-top:solid #ccc 1px; margin-top:15px;}

#content_body table.row_border td{border-bottom:solid #ccc 1px;}

#content_body table.border {border-bottom:none;border-left:solid #ccc 1px; border-right:solid #ccc 1px; border-top:solid #ccc 1px; margin-top:15px;}

#content_body table.border td{border-bottom:solid #ccc 1px; border-right:solid #ccc 1px;}

#content_body table.border td.last{border-bottom:solid #ccc 1px; border-right:none;}

#content_body table th, #content_body table.no_border th, #content_body table.border th{background-color:#e1e1e1;padding:5px;}

#content_body table td, #content_body table.no_border td{padding:5px;}

#content_body ul {margin-left:0px; padding: 0px;list-style:none;margin-top: 15px;}

#content_body ul li {margin: 0px;padding: 0px;margin-top: 5px;}

#content_body ul li a {color:#f19209;text-decoration: none;}

#content_body ul li a:hover {text-decoration: underline;}

ul.detail_links {padding: 0px;list-style:none;margin: 16px 0 16px 0;}

ul.detail_links li a{margin: 0px;padding: 0px;margin-top: 5px;padding-left: 15px;background :url(../images/icn_orange_arrow.jpg) no-repeat 0px 3px;}

h2.detail_title {background: url(../images/band.gif) no-repeat;padding: 2px 0 0 20px;margin: 15px 0 0 0;color: #A09C9D; font-size: 1.2em; }

/* Aug22 #detail span {margin: 0 0 0 20px;padding: 0;}, #detail ul{padding: 0px;list-style:none;margin: 16px 0 16px 0;}*/

#content_body ul{padding: 0px;list-style:none;margin: 16px 0 16px 0;}

/*#detail ul li{background:none;}*/

#content_body li a{margin: 0px;padding: 0px;margin-top: 5px;padding-left: 15px;background :url(../images/icn_orange_arrow.jpg) no-repeat 0px 3px;}

#detail p {margin: 16px 0 0 0;padding: 0;}

/*#detail p .detail_links {float: left;}*/

#detail img {border: 1px dotted #cccccc;margin: 0 20px 10px 0; float:left;}

/* faq */
#search_error {margin-top: 16px; margin-bottom: 16px;}

#search_error p {margin: 0 0 10px 0; }

#faq_ques_answers {margin-top:16px;}

#faq_ques_answers ol {margin: 0; padding: 0; margin-top: 10px;}

#faq_ques_answers ol li {background:url(../images/bkg_color_band_blue.gif) left top no-repeat; padding: 2px 0 0 15px; list-style-position:inside;margin-bottom: 15px;color: #fff;	font-weight: bold;}

#faq_ques_answers ol li span {color: #666666; font-weight: bold;padding-left:6px;_padding-left: 13px;}

#faq_ques_answers ul.faq_answer {padding-bottom: 0;	color: #666666;font-weight: normal;font-size: 1em;margin: 0; padding: 5px 0 0 29px;}

#faq_ques_answers ul.faq_answer li {display: block;background-image: none;margin: 0;padding: 0;overflow: hidden;_height: 1%;color: #666666;font-weight: normal;font-size: 1em;}

#faq_ques_answers .faq_answer h4 {float: left;margin-right: 10px;}

.faq_answer h4 a{text-decoration: none;}

.faq_answer h4 a:hover {text-decoration: underline;}

#faq_ques_answers .faq_answer p {float: left;}

#faq_ques_answers .faq_answer .back_to_top {width: 485px; margin-top: 5px;}

/* N1 section landing */
.one-column-teaser {border:dotted #ccc 1px;padding:3px;padding-bottom:10px;/*	float:left;*/margin-top:16px;width:258px;}

.one-column-teaser h2 a{background:url(../images/icn_orange_arrow.jpg) no-repeat right bottom;padding-right:15px;}

.one-column-teaser h5 a{background:url(../images/icn_orange_arrow.jpg) no-repeat left;padding-left:15px;}

.left-sub-cont{float:left;width:267px;margin-right:20px;padding:0;}

.right-sub-cont{float:left;padding:0;width:267px;}

.email_page .left-sub-cont{float:left;width:310px;margin:0;padding-bottom:20px;padding-right:23px;padding-left:10px;background:url(../images/emailtofriend_div.gif) repeat-y right;}

.email_page .right-sub-cont{float:left;padding:0;padding-left:23px;background:url(../images/emailtofriend_div.gif) repeat-y left;width:310px;margin-left:-9px;}

.email_page .right-sub-cont ol{list-style:none;padding:0;padding-left:31px;_padding-left:34px;margin:0px;/*padding-left:3px;_padding-left:5px;*/}

maincontainer{width:530px;}


.bottom-teaser {border:dotted #ccc 1px;/*float:left;*/margin-top:16px;padding-bottom:10px;text-decoration:none;}

.enhanced_perf1 {margin:15px 0 0 0; padding:0;}

.enhanced_perfomance1 {margin:0;padding:0;border:dotted #ccc 1px;}

/*.directory-listing ul,*/ .bottom-teaser ul {padding:0px;margin:10px 0 0 10px;}

/*.directory-listing ul li{padding-bottom:5px;padding-left:15px;background:url(../images/icn_arrow_blue.gif) no-repeat 0px 2px;list-style:none;}*/

.bottom-teaser ul li{padding-bottom:5px;list-style:none;}

.bottom-teaser ul li a{padding-left:15px;background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;list-style:none;}

.directory-listing h5.teaserTitle, bottom-teaser h5.teaserTitle{color:#666666;}

/*.directory-listing ul li a:hover,*/ .bottom-teaser ul li a:hover{text-decoration:underline;}

.investor-feed {border: 1px dotted #ccc;margin-top:20px;}

.investor-feed h5 {font-size:1.1em;color:#fff;background-color:#78bde8;padding:2px 0 2px 3px;width:130px;}

.investor-feed p{margin:0 5px 0 0; padding:0;}

.investor-feed p.gbp_price, .investor-feed p.usd_price {font-family:Arial;line-height:21px; font-size:1.2em;font-weight:bold; margin-top:5px; margin-bottom:10px;}

.investor-feed p.gbp_price span {background-color:#78bde8; padding:2px; color:#fff;}

.investor-feed p.usd_price span {background-color:#a5c536; padding:2px; color:#fff;}

.latest-news {border: 1px dotted #ccc;margin:20px 0 10px 0;padding-bottom:10px;}

.latest-news h5 {font-size:1.1em;color:#fff;background-color:#f19209;padding:2px 0 2px 3px;width:130px;}

.latest-news h5.titleOrange {font-size:1.1em;color:#fff;}

.latest-news ul {margin-left:10px;margin-top:10px;padding:0px;}

.latest-news ul li{	background:url(../images/icn_orange_arrow.jpg) no-repeat left 3px;	padding-bottom:5px;	padding-left:18px;	list-style:none;margin:0px;}

.latest-news a.view-all {background:url(../images/icn_orange_arrow.jpg) no-repeat left;text-align:right;margin-right:8px;padding-left:17px;font-size:0.85em;text-decoration:underline;}

.latest-news .date {font-size:0.85em;color:#999;}

.latest-news ul li p{font-size:0.9em;}

.multi-teaser {width:265px;border:dotted #ccc 1px;margin-top:16px;}

.multi-teaser p{margin:0px;padding:0px;}

.multi-teaser ul {float:left;padding:0px;margin:3px 0 0 0px; }

.multi-teaser ul li{padding-bottom:5px;padding-left:15px;background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;list-style:none;}

.two-column-teaser {/*width:540px;*/margin-top:16px;}

.two-column-teaser .column1 {width:265px;float:left;margin-right:18px;}

.two-column-teaser .column2 {width:265px; float:left;}

.two-column-teaser p{padding-bottom:10px;}

.two-column-teaser ul li{margin:0px;padding:0 0 5px 0px;list-style:none;}

.two-column-teaser ul li a{margin:0px;padding:0 0 5px 15px;list-style:none;background:url(../images/icn_orange_arrow.jpg) no-repeat left;}

.welcome-note {margin-top:5px;}

#faq_result {/*	width:554px; */	clear: left;margin-top:16px;}

ul {margin: 0;	padding: 0;}

li {margin:0;padding: 0;text-align: left;}

#faq-nav {margin-top:16px;padding:10px 0 10px 25px;	background:url(../images/faq_band.jpg) left top repeat-y;	background-color:#EFEEEE;_height: 1%;}

.faq h1 {background-color:#5e9ccf;color:#ffffff;font-size: 1.2em;width: 80px;margin:0; padding: 3px;height: 17px;vertical-align: middle;}

#faq-nav h2 {margin:0; padding:0;color:#666666;font-size:1em;font-weight:bold;padding-left:40px;text-align: left;}

#faq_category {list-style:none;_height: 1%;margin:10px 0 0 40px;padding:0;}

.category {display: inline;float:left; width:140px; margin-right: 10px;margin-bottom: 20px;}

#faq-nav h3 {font-size:1em;font-weight:bold;color:#666666;margin:0; padding:0;}

ul#faq_category li ul.faq_category_list {margin:0; padding:0;margin-top:5px;}

ul#faq_category li ul.faq_category_list li {background:url(../images/icn_arrow_green.gif) no-repeat 0 2px;padding-left: 15px;font-size: .9em;list-style: none;margin-top: 5px;}

ul#faq_category li ul.faq_category_list li a {text-decoration: none;color: #617A06;}

ul#faq_category li ul.faq_category_list li a:hover {text-decoration: underline;color: #617A06;}

#search {background-color:#F19029; color:#ffffff;margin: 0;padding: 0;_padding: 1px 10px 10px 10px;}

.btn_go {background-color: #78BDE8;color: #ffffff;border: none;}

.btn_show_news {background-color: #78BDE8;color: #ffffff;border: none;margin-left: 10px;cursor:pointer;width: 80px;}

#keyword {width: 120px;}

#print_email {float: right;margin-top: -2px;_margin-top: 0;}

#print_email ul {margin-top: 5px;}

#print_email ul li {margin: 0;padding: 0;display: inline;}

#print_email ul li a {padding: 10px 26px 4px 0;}

#print_email a {text-decoration: none;}

#print_email a:hover {text-decoration: underline;}

#print a {background:url(../images/icn_print.gif) no-repeat 100% 4px;}

#email a {background:url(../images/icn_email.gif) no-repeat 100% 4px;}

#callout_links {margin-bottom: 15px;}

#callout_links h2 {font-size: 1.1em;margin: 0; padding: 0;margin-bottom: 8px;color: #666666;}

#callout_links ul {list-style: none; margin: 0; padding: 0;margin-bottom: 10px;}

#callout_links ul li { height: 31px;padding-left: 20px;margin-right: 5px;display: inline;padding-bottom: 5px;}

#callout_links ul li a {font-size: 11px;color:#f19209;text-align:right;text-decoration: none;}

#callout_links ul li a:hover {text-decoration: underline;}

#callout_links #link_literature {background:url(../images/icn_literature.gif) no-repeat; }

#callout_links #link_advice {background:url(../images/icn_advice.gif) no-repeat; }

#callout_links #link_visit {background:url(../images/icn_visit.gif) no-repeat; }

.date {margin-bottom: 5px;margin-left: 2px;}

.news h1 {background:none;color:#F89828;font-size: 1.2em;width: 100px;margin:0; padding: 3px;height: 17px;vertical-align: middle;}

.news h3 {margin-bottom: 5px;font-weight: bold;font-size: 1em;}

#search_results  ul {margin: 0; padding: 0; margin-top: 10px;}

#search_results  ul li {list-style: none;}

.search_listing {background:url(../images/bullet_list_orange.gif) left top no-repeat; padding: 2px 0 0 40px;list-style: none;border-bottom: 1px dashed #B0AEB0;margin-bottom: 8px;}

.search_listing h4 {margin: 0;padding: 0;margin-top: -10px;margin-bottom: 10px;}

li.search_listing {margin-bottom: 20px;}

.search_listing .result_detail {float: left; width: 485px; margin-right: 20px;}

.result_detail .date {font-size:0.9em;padding:0;}

.result_detail ul.breadcrumbs {margin:0;padding:0;list-style:none;}

.result_detail ul.breadcrumbs li{display:inline;padding-right:3px;font-size:0.9em;color:#999;}

#latest_news  ul {margin: 0; padding: 0; margin-top: 10px;}

#latest_news  ul li {list-style: none;}

.news_listing {background:url(../images/bullet_list_orange.gif) left top no-repeat; padding: 2px 0 0 40px;list-style: none;border-bottom: 1px dashed #B0AEB0;margin-bottom: 8px;}

.news_listing h4 {margin: 0;padding: 0;margin-top: -10px;margin-bottom: 10px;}

.back_to_top {margin-top: 5px;margin-bottom: 2px;}

.back_to_top a {color: #5F9BCE;text-decoration: none;font-size: 0.9em;}

.back_to_top a:hover {text-decoration: underline;}

.movie_blog {margin: 10px 0 20px 0; overflow: hidden;}

.movie_blog li.blog_text {margin-left: 20px; width: 290px; margin-top: 10px;}

.movie_blog li.blog_text h2{background:url(../images/band.gif) no-repeat; padding-top: 2px; padding-left: 20px; color:#676164; font-size: 1.2em; font-weight: bold;}

.movie_blog ul li {	float: left; display: block; margin: 0; padding: 0; border: none;overflow: hidden;_height: 1%;}

li.news_listing {margin-bottom: 20px;}

.news_detail {float: left; width: 425px; margin-right: 20px;}

.detail_img {float: left; width: 40px; align: right;}

.detail_img img {border: 4px solid #BABCBE; }

. clear_left {clear: left;}

#frm_advanced_search {border: 1px dotted #AAADAF;float: left; width: 540px; padding: 5px; }

#frm_advanced_search h2 {background-repeat: no-repeat; color: #7C7779;font-weight: bold;}

/* DEC .#frm_advanced_search input.submit {margin-right:15px;margin-bottom:15px; padding:0;}*/

/* D2 Product Detail */
/* DEC ..d2_pdt_detail {}
.d2_pdt_detail #hero_image {margin-bottom: 10px;}

.d2_pdt_detail #content_body_d2 h2 {color: #7C7779;font-size: 1.1em;}
*/

#content_body_d2 {padding: 16px;border: 1px dotted #7C7779; border-top: none; width: 521px;}

 #content_body_d2 ul.expand_orange {list-style: none;margin:0;padding:0;font-size:1.1em;}

#content_body_d2 ul.expand_orange li {background:url(../images/icn_plus_orange.gif) no-repeat 0 3px;margin: 10px 10px 10px 0;padding-bottom: 10px;padding-left:5px;border-bottom: 1px solid #D7D5D5;padding-left: 15px;}

#content_body_d2 ul.expand_orange li a {color: #f19209;}

#content_body_d2 ul.detail_links_text{font-size:0.9em;}
#content_body_d2 ul.detail_links li{background:none;}
#content_body_d2 ul.detail_links li a{background:url(../images/icn_arrow_green.gif) no-repeat left;}



/* top 10 tabs */
#top_10.on-tab1 #tab2_overview,
#top_10.on-tab2 #tab1_design {display: none;}

#tab3_wear-issues,
#tab4_faq,
#tab5_technique {display: none;}

.wear-issues {background-color: #A6C538;}

.overview {background-color: #5DA9DD;}

/* glossary */
.glossary h1 {background-color:#f19029;color:#ffffff;font-size: 1.2em;width: 80px;margin:0; padding: 3px;height: 17px;vertical-align: middle;}

#glossary_entry {width:540px; clear: left;margin-top:16px;}

#glossary_links {width:540px;margin-top:16px;}

#glossary_links ol {margin: 0; padding: 0; margin-top: 10px;list-style:none;}

#glossary_links ol li {background:url(../images/band.gif) left top no-repeat; padding: 2px 0 0 0px;padding-left:0px;_padding-left:0px; list-style-position:inside; margin-bottom: 15px;color: #fff;font-weight: bold;}

#glossary_links ol li span {color: #666666; font-weight: bold;padding-left:22px;_padding-left:6px;}

#glossary_links ul.glossary {padding-bottom: 0;color: #666666;font-weight: normal;font-size: 1em;margin: 0; padding: 5px 0 0 0;padding-left:25px;_padding-left:25px;}

#glossary_links ul.glossary li {display: block;	background-image: none;margin: 0;padding: 0;overflow: hidden;_height: 1%;color: #666666;font-weight: normal;font-size: 1em;}

#glossary_links ul.glossary li div.image {float:left;margin-right:10px; width:63px; border:dashed #ccc 1px; padding-bottom:5px;}

#glossary_links ul.glossary li div.image p {margin-top:5px;border-top:dashed #ccc 1px; width:63px; padding-top:3px;padding-left:3px;}

#glossary_links ul.glossary li div.image p a.enlarge {background:url(../images/icn_plus_orange.gif) no-repeat right; padding-right:15px;}

/*#glossary_links ul.glossary li img{float:left;margin-right:10px;}*/

#glossary_links .glossary h4 {float: left;margin-right: 10px;}

.glossary h4 a{text-decoration: none;}

.glossary h4 a:hover {text-decoration: underline;}

#glossary_links .glossary p {float: left;width: 420px;}

#glossary_links .glossary .back_to_top {width: 485px; margin-top: 5px;}

ul.glossary-pagination {margin-top:20px;padding:5px;padding-left:40px;color:#666666;list-style:none;border:1px dotted #ccc;width:500px;}

ul.glossary-pagination li{margin:0px;padding-left:5px;color:#a8c638;list-style:none;display:inline;}

ul.glossary-pagination li a{color:#a8c638;text-decoration:underline;}

ul.glossary-pagination li.selected{color:#333;text-decoration:none;font-size:1.3em;}

.download-filter {/*	width:520px;*/background-color:#d1d1d1;padding:10px;margin-top:16px;color:#333333;}

.download-filter fieldset {margin:0;padding:0;}

.download-filter fieldset ul {list-style:none; margin:0; padding:0;}

.download-filter fieldset ul li {padding-bottom:5px;margin:0;}

.download-filter fieldset ul li ul{margin:0;_margin-top:-10px;padding:0; list-style:none;}

.download-filter fieldset ul li ul li{display:inline;margin:0;padding:0;float:left;padding-right:10px;}

.download-filter fieldset label {font-size:0.9em;}

/* DEC ..download-filter fieldset input.submit{	background-color:#5e9ccf;color:#FFFFFF;padding:0;margin-right:10px;	margin-top:8px;_margin-top:18px;width:110px;cursor: hand; cursor: pointer;}*/

.download-filter fieldset select {width:163px;border:solid #666 1px;color:#666;font-size:0.95em;padding:2px;}

.download_listing {	border-bottom:solid #ccc 1px;}

.download_listing h3, .gallery_listing h3 {margin-bottom: 5px;font-weight: bold;font-size: 1em;	}

.download_listing  ul {	margin: 0; 	padding: 0;	margin-top:5px;	_margin-top:5px;list-style:none;}

.download_listing  ul li{padding:15px 0 0px 0;_padding-top:0px; margin:0;border-bottom:dotted #ccc 1px;}

.download_listing  ul li.last{border-bottom:none;}

.download_listing  ul.list_item{margin:0; padding:0;list-style:none;}

.download_listing  ul.list_item li{display:inline; float:left; padding:0 10px 10px 0; width:255px; margin:0 10px 0 0; border-bottom:none;}

.download_listing  ul.list_item li.last{display:inline; float:left; padding:0 10px 10px 0; width:255px; margin:0; border-bottom:none;}

.download_listing  ul.list_item li h4, .gallery_listing  ul.list_item li h4{margin:0; padding:0; background:url(../images/band.gif) no-repeat left top;padding-left:17px;}

.download_listing  ul.list_item li p, .gallery_listing  ul.list_item li p{font-size:0.85em;margin-top:5px;}

.download_listing  ul.file_item{margin:0; padding:0; list-style:none;width:245px;}

.download_listing  ul.file_item li{padding-bottom:5px;font-size:0.9em; width:230px; border-bottom:none; padding-left:15px;}

.gallery_listing li.file_item a{margin:0;}

.gallery_listing li{display:inline; float:left; padding:10px 10px 10px 0; margin:0;}

.gallery_listing ul.list_item{margin:0; padding:0; list-style:none; width:255px;}

.gallery_listing ul.list_item li{padding:0 0 5px 0; margin:0 10px 0 0; width:255px;}

.gallery_listing ul.list_item li.file_item{padding-bottom:5px;font-size:0.9em;}

.back_to_top {	margin-top: 5px;margin-bottom: 2px;}

.back_to_top a {color: #5F9BCE;	text-decoration: none;font-size: 0.9em;}

.back_to_top a:hover {text-decoration: underline;}

li.download_listing {margin-bottom: 20px;}

ul.download_section {padding-bottom: 0;color: #666666;font-weight: normal;font-size: 1em;margin: 0; padding: 5px 0 0 29px;}

ul.download_section li {display: block;	background-image: none;	margin: 0;	padding: 0;	overflow: hidden;_height: 1%;color: #666666;font-weight: normal;font-size: 1em;}

.download_section h4 {float: left;	margin-right: 10px;}

.download_section h4 a{text-decoration: none;}

.download_section h4 a:hover {text-decoration: underline;}

.download_section p {float: left;width: 425px;}

.download_section .back_to_top {width: 485px; margin-top: 5px;}

#detail h2 {color: #7C7779;font-size: 1.1em;}

/* Home page H1 */
.orange_text {color:#f19209; }

#home_intro {margin-top: -370px; margin-left: 420px; _margin-left: 210px;position: relative; width: 200px; float: left;text-align: left; font-family:Arial; font-size:1.2em;}

#home2_intro {margin-top: -150px; margin-left: 420px; _margin-left: 210px;position: relative; width: 200px; float: left;text-align: left; font-family:Arial; font-size:1.2em;}

#d1_detail_intro {margin-top: -210px;_margin-top: -213px;position: relative; width: 790px; float: left;text-align: left;padding:0;}

.detail_intro {	margin-right:50px;_margin-right:25px; position: relative; width: 343px;float: right;text-align: left;background-color:#5da9dd;padding:5px 5px 10px 15px;}

.detail_intro div.column1{width:140px;float:left;margin-right:16px;	padding:0;font-size:2.0em;color:#fff;}

.detail_intro div.column2{padding:0;width:165px;color:#fff;float:left;}

.detail_intro p.quote {font-size:1.3em;margin-top:10px;color:#fff;}

.detail_intro a.read_more {background:url(../images/icn_orange_arrow.jpg) no-repeat left;color:#fff;padding-left:15px;text-decoration:underline;}

#d1_detail_intro p.hero_name{font-size:1.5em;}

#section_intro {margin-top: -208px;position: relative; width: 790px; float: left;text-align: left;padding:0;}

.section_intro {margin-right:45px;_margin-right:22px; position: relative; width: 343px;float: right;text-align: left;background-color:#a5c639;padding:5px 5px 10px 15px;}

.section_intro div.column1{width:140px;float:left;margin-right:16px;padding:0;font-size:2.0em;color:#fff;}

.section_intro div.column2{padding:0;/*width:165px;*/color:#fff;}

.section_intro p.quote {font-size:1.3em;margin-top:10px;color:#fff;}

.section_intro a.read_more {background:url(../images/icn_orange_arrow.jpg) no-repeat left;color:#fff;padding-left:15px;text-decoration:underline;}

#section_intro p.hero_name{font-size:1.5em;}

#product_intro {margin-top: -300px;_margin-top: -303px;position: relative; width: 554px; float: left;text-align: left;padding:0;color:#96979a;font-size:1.2em;font-weight:normal;}

.product_intro {position: relative; width: 250px;float: right;margin-right:40px;_margin-right:25px;text-align: left;padding:5px 5px 5px 15px;}

.product_intro a.read_more {background:url(../images/icn_orange_arrow.jpg) no-repeat left;color:#fff;padding-left:15px;text-decoration:underline;}

#product_intro p.hero_name{font-size:1.5em;}

.product_intro_text {margin:16px 0 16px 0;padding:0;background:url(../images/icn_arrow_green.gif) no-repeat left 2px;padding-left:15px;color:#858689;}

#home_intro_buttons {margin-top: -270px; margin-left: 500px; _margin-left: 250px;position: relative; width: 200px; float: left;text-align: left;}

#home_intro_buttons ul {list-style:none;margin:0;padding:0;}

#home_intro_buttons li{display:inline;margin:0;padding:0;}

#home_intro_buttons li img{border:0px;}

.home_bar {float: left;margin:0;margin-left: -50px;position: relative; padding:0;margin-bottom:-15px;}

#home_form {margin-top: -470px; margin-right: 16px; position: relative; width: 200px; float: right;text-align: right;}

#home_form fieldset {margin: 0;padding: 0;}

/* DEC .#home_form fieldset input {border: none;} */

#home_form fieldset ol li {	width: 200px;text-align: right;}

#home_form fieldset ol {margin-bottom: 10px;}

.callout_area .audience_selector {float:right; text-align:right; filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80;}

.callout_area .audience_selector fieldset{float: right;text-align: right; padding:0; margin:10px 0 5px 0;}

.callout_area .audience_selector fieldset{text-align:right;}

.callout_area .audience_selector fieldset h3 {text-align:right;width:280px; margin:0; padding:0;}

/* DEC ..callout_area .audience_selector fieldset input {border: none;}*/

.callout_area .audience_selector fieldset ol li label {text-align:right;padding:0; margin:0;}

.callout_area .audience_selector fieldset ol li {text-align: right; padding:0;}

.callout_area .audience_selector fieldset ol {margin:0; padding:0;margin-bottom: 10px; width:280px;list-style:none; text-align:right;}

.homepage_h1 p {margin-bottom: 10px;}

.homepage_h1 ol {list-style: none;float: right;margin: 0;padding: 0;margin-top: 5px;margin-bottom: 10px;}

.homepage_h1 ol li {display: block;float: right;}

.homepage_h1 ol li h3 {float: right;}

.h1_home_module {float: right;margin-top: -35px;position: relative;width: 958px;}

#financial a{color:#f19209;}

#news_update a{color: #617A06;}

#pdt_launch a{color: #3887B8;}

.middle_module {margin: 0;padding: 0;margin-top: 15px;width: 200px;}

.sec_module {border: 1px dotted #7C7779; border-top: none;margin:15px 0 0 0; width: 200px;padding:0 0 10px 0;float: left;font-size: .9em;background-color: #ffffff; clear:both; margin-bottom:30px;_margin-bottom:0px;}

.sec_module h2 {background: url(../images/band_investors.jpg) no-repeat;background-color: #E4E5E6;color: #838484;font-weight: bold;height: 20px;padding-top: 3px;padding-left: 20px;width: 180px;margin:0; text-align:left;}

.sec_module ul.green_list li {background:url(../images/icn_arrow_green.gif) no-repeat 0px 3px;border: none;margin: 10px 10px 0px 10px;padding: 0;padding-left: 15px;display: block;}

.sec_module ul.green_list li a{color: #617A06;}

.middle_module span {float: left; margin-right: 10px;}

.middle_module ul {list-style: none;}

.middle_module ul li div {height: 100px;}

.h1_home_module h1 {color: #666666;background: none;margin: 0;	padding: 0;padding: 2px 7px;width: 80px;float: left;text-align: left;font-size: .9em;}

.h1_home_module ul {list-style: none;float: right;}

.h1_home_module ul li {display: inline; margin: 10px;margin: 0;padding: 0;}

.h1_home_module ul li div {border: 1px dotted #7C7779; border-top: none; width: 184px;padding: 13px 0 0 13px;margin-right: 16px;float: left;font-size: .9em;background-color: #ffffff;}

.middle_module ul li div {border: 1px dotted #7C7779; border-top: none; width: 184px;padding: 13px 0 0 13px;margin-right: 16px;float: left;font-size: .9em;height: 148px;background-color: #ffffff;}

.middle_module ul li div {margin: 0;padding: 0;width: 200px;}

#investor p{margin:0 5px 0 0; padding:0;font-size:0.95em;}

.investor-feed div p{margin:0 5px 0 0; padding:0;font-size:0.9em;}

#investor p.marketData, .investor-feed p.marketData {margin-bottom:5px; text-align:right;}

.investor-feed p.marketData {font-size:0.85em;}

#investor p.gbp_price, #investor p.usd_price, .investor-feed p.gbp_price, .investor-feed p.usd_price {font-family:Arial;line-height:21px; font-size:1.0em;font-weight:bold; margin-top:5px; margin-bottom:10px;}

#investor p.gbp_price span, .investor-feed p.gbp_price span {background-color:#78bde8; padding:2px; color:#fff;}

#investor p.usd_price span, .investor-feed p.usd_price span {background-color:#a5c536; padding:2px; color:#fff;}

.h1_home_module ul li div h2 {background: url(../images/band_investors.jpg) no-repeat;background-color: #E4E5E6;color: #838484;font-weight: bold;height: 20px;padding-top: 3px;padding-left: 20px;width: 177px;margin: -13px -13px 13px -13px;}

.middle_module ul li div h2 {background: url(../images/band_success_story.jpg) no-repeat;background-color: #E4E5E6;color: #838484;font-weight: bold;height: 20px;padding-top: 3px;padding-left: 20px;}

.h1_home_module ul li div#financial h2 {background: url(../images/band_financial.jpg) no-repeat;background-color: #E4E5E6;}

.h1_home_module ul li div#news_update h2 {background: url(../images/band_newsUpdates.jpg) no-repeat;background-color: #E4E5E6;}

.h1_home_module ul li div#news_update h3 {color:#666;/*background: url(../images/icn_arrow_green.gif) no-repeat 0px;*/}

.h1_home_module ul li div#pdt_launch h2 {background: url(../images/band_pdtLaunch.jpg) no-repeat;background-color: #E4E5E6;}

.h1_home_module ul li div#pdt_launch h3 {background: url(../images/icn_arrow_blue.gif) no-repeat 0px;}

.h1_home_module ul li div img {vertical-align: middle;}

.h1_home_module ul li div h3 {font-size: 1.1em;margin: 0 0 0 -13px;padding-left: 20px;color: #626466;font-weight: bold;background: url(../images/icn_arrow_grey.gif) no-repeat 0px;}	

.h1_home_module ul li div p {padding: 0 8px;margin-top: 5px;}	

#news_update a.read_more {float: right;}

.marginLeft60 {margin-left:55px;}

.marginLeft65 { margin-left:65px;_margin-left:62px;}

/* Home page H2 */
#home2_callout { margin: 0; padding: 0; width: 285px; margin-top: -400px; position: relative; float: right;}

.callout_area {border: 2px solid #F0F1F1; background-color: #F0F1F1; width: 281px;filter:alpha(opacity=90);-moz-opacity:.90;opacity:.90;}

.callout_form {margin: 0; padding: 0; background-color:#F19029; color:#ffffff; border:1px solid #F19029; height: 40px; _height: 20px; _padding: 10px;}

.callout_form form {margin: 0; padding: 0;}

/* DEC ..callout_form fieldset input{width:130px;}*/

/* DEC ..callout_form fieldset input.btn_go{background-color: #78BDE8;color: #ffffff;border: none;width:auto;_padding-left:2px;_padding-right:2px;} */

.callout_form h4 {width: 85px; float: left;margin-top: 2px;}

.callout_form h4 {width: 85px; float: left;}

#h2_home_module {text-align: right; float: right; position: relative; width: 958px;}

#h2_home_module ul {list-style: none; float: right;}

#h2_home_module ul li {display: inline; float: left; margin-left: 7px; padding: 0;}

#h2_home_module h2 { margin: 0; padding: 0; background: url(../images/band_home_h2_modules.jpg) no-repeat; padding-left: 30px; padding-top: 2px; margin-bottom: 6px; height: 19px; background-color:#999999; font-size: .9em; color:#FFFFFF; font-weight: bold;}

#h2_home_module .h2_module {float: left; width: 220px; border: 1px dotted #7C7779; margin: 0; padding: 5px;min-height: 120px;}



.h2_module a.orange_list{background:url(../images/icn_orange_arrow.jpg) no-repeat left 3px; padding-left:15px; margin:0}


#h2_home_module .h2_module span{float: left;display:block; margin-right: 10px; width:65px;}

#news_update span {float: left; margin-right: 10px;}

#news_update .col1 {width:50px;margin:0; margin-right:5px; _margin-right:5px;float:left;border:none; padding:0;}

#news_update .col2 {float:left; width:115px;border:none; padding:0;margin:0;}

.h2_module h4 a{color:#666;font-weight:bold;}

#h2_home_module .h2_module p.read_more, .home_teaser2 p.read_more{font-size: .9em;float: left;margin-top: 10px;_margin-left:2px;}

#h2_home_module p.date {color: #666666; font-size: .8em;}

#h2_home_module a.title{color:#666;font-weight:bold;}



#news_update p.title{color:#666;font-weight:bold; font-size:1.2em; margin:0 0 0 5px; padding:0;}

#news_update p {margin:3px 0 0 5px; padding:0; font-size:1.2em; color:#666;}

#h2_home_module .success_story {width: 150px;margin: 0;	padding: 0;float: left;}

#h2_home_module .success_story p {font-size: .8em;}

#h2_home_module .success_story p.read_more {font-size: .9em;float: left;margin-top: 10px;}

#h2_home_module .success_story p.read_more a {color: #F89828;}

.home_teaser {border-top: 1px dotted #ACABAD;margin: 5px 0 16px 0;padding: 20px 0px 10px 2px; width: 278px;overflow: hidden;background-color: #F9F9FA;}

.home_teaser a {color: #617A06;}

.home_teaser h5 {color:#ffffff;	width: 120px;	margin-top: -15px; margin-left: -6px;padding: 2px 7px;font-size:1.1em;background-color: #BABCBE;}

.home_teaser ul {margin: 0px; padding: 0px;list-style: none;margin-top: 8px;width: 139px;float: left;}

.home_teaser ul li {position: relative;padding-left: 15px;	background:url(../images/icn_arrow_green.gif) no-repeat 0px 2px;margin-left: 2px;margin-top: 10px;font-size: .9em;}

.home_teaser2 {border: 1px dotted #ACABAD;margin: 5px 0 16px 0;	padding: 15px 0px 0px 2px; width: 278px;}

.home_teaser2 h5 {color:#ffffff;width: 120px;margin-top: -16px; margin-left: -2px;_margin-top: -18px; _margin-left: -6px;padding: 1px 7px 1px 7px;font-size: 1.1em;background-color: #BABCBE;}

.home_teaser2 span {float: left; margin-right: 10px;}

.home_teaser2 div {padding-right:5px;margin:8px;}

/* blue list */
#h2_home_module ul.blue_list,
ul.blue_list, ul.orange_list {list-style:none;padding: 0;	float: left; display:block; width:145px; margin-left:10px;}

#h2_home_module ul.blue_list li,
ul.blue_list li {background:url(../images/icn_arrow_blue.gif) no-repeat 0px 3px;border: none;margin: 0;padding: 0;padding-left: 15px;}
ul.orange_list li{border: none;margin: 0;padding: 0;padding-left: 15px;}

.blue_list li a {color: #3887B8;}

.enhanced_performance ul.blue_list li p{margin-top:5px;}

/* green list */
#h2_home_module ul.green_list,ul.green_list {list-style:none;margin: 0;padding: 0;}

#h2_home_module ul.green_list li,
ul.green_list li {background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 3px;	border: none;margin: 0;padding: 0;padding-left: 15px;display: block;}



.home_teaser2 ul.green_list li {background:url(../images/icn_arrow_green.gif) no-repeat 0px 3px;border: none;margin: 10px 10px 10px 10px;padding: 0;padding-left: 15px;display: block;}

.home_teaser2 ul.green_list li a{color: #617A06;}

.grey_border {border: 3px solid #BABCBE;}

.width233 {width: 232px;}

.homepage_h2 ul#events_module {width: 150px; float: none;}

homepage_h2 ul#events_module li {display:block;}

/* Site Index */
.site-index-content {float:right;width:790px;}
	
ul.site-index {margin:0;padding:0;list-style:none;}

ul.site-index li {display: block;float:left;width:244px;margin:0;margin-right:17px;padding:0px;padding-right:5px;padding-bottom:10px;border:dotted #ccc 1px;margin-top:16px;}

ul.site-index li.last {margin:16px 0 0 0;}

ul.site-index li ul li{padding:0;margin:0px;border:none;}

ul.site-index li ul li.level1{font-size:1.2em;color:#000000;background: url(../images/bullet_list_orange.gif) no-repeat left;}

ul.site-index li ul li.level2{font-size:1.1em;}

ul.site-index li ul li.level2 ul{font-size:1.1em;color:#666;margin-top:6px;list-style:none;border:none;}

ul.site-index li ul li.level2 ul li a{margin-left:50px; display:block;background:url(../images/icn_arrow_green.gif) no-repeat left 2px;padding:0;padding-left:15px;text-decoration:none;color: #617A06;}

ul.site-index li ul li.level3{font-size:1.0em;}

ul.site-index li ul li.level3 ul{font-size:1.0em;color:#666;margin:0;padding:0;list-style:none;border:none;}

ul.site-index li ul li.level3 ul li a{ margin-left:50px; display:block;padding-bottom:5px;padding-left:30px;text-decoration:none;color: #617A06;}

ul.site-index li ul li.level3 ul li a:hover, ul.site-index li ul li.level2 ul li a:hover{ text-decoration:underline;}

ul.site-index li ul li.level1 a{padding-left:38px;color:#f08f28;text-decoration:none;font-weight: bold;}

ul.site-index li ul li.level1 a:hover{text-decoration:underline;}

/* navigation hover menu */
#dropmenudiv{position:absolute;background-color:#686264;margin-top:3px;filter:alpha(opacity=95);-moz-opacity:.95;opacity:.95;font:Arial;font-size:0.9em;font-weight:normal;color:#FFFFFF;line-height:20px;z-index:100;}

#dropmenudiv a{width: 180px;display: block;color:#FFFFFF;text-indent: 0px;border-bottom: 1px solid white;padding: 0px 20px 0 20px;text-decoration: none;font-weight: normal;}

#dropmenudiv a:hover{ /*hover background color*/filter:alpha(opacity=95);-moz-opacity:.95;opacity:.95;background-color:#CCCCCC;color:#333;text-decoration:none;}

/* navigation hover menu */
div.strapline {font-size:0.9em;color:#85898b;font-weight:normal;margin-left:35px;}
/* directory links*/

tab_images { width:100%;}
.tab_images ul {background-color:#fff; text-align:left; list-style:none; margin:0;}
.tab_images li {display:inline;color:#FFFFFF;padding-left:20px; padding-right:10px;}
.tab_links {width:100%;background-color:#c0d62f; margin-top:-3px;}
.tab_links ul {text-align:left; list-style:none; margin:0; padding:3px;}
.tab_links li.tab1{display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;}
.tab_links li.tab2 {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;}
.tab_links li.tab3 {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;}
.tab_links li.tab4 {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;}
.tab_links li.tab5 {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;}
.tab_links li.tab1_selected {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;font-weight:bold;}
.tab_links li.tab2_selected {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;font-weight:bold;}
.tab_links li.tab3_selected {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;font-weight:bold;}
.tab_links li.tab4_selected {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;font-weight:bold;}
.tab_links li.tab5_selected {display:block; text-align:center;color:#FFFFFF; width:100px; margin-right:8px; float:left;font-weight:bold;}
.tab_links li a {color:#fff;}

.links {display:none;}

/* top 5 on product details*/
/* list containers */

.list {position: relative;width: 153px;height: 33px;z-index: 10;}

.details {display: none;position: absolute;height: auto;background: #ffffff;z-index: 11;margin: 0;margin-left: -19px;margin-top: 3px;padding: 0;border: 1px solid #f19209; padding: 2px;width: 153px;}

/* all list area */
#list_area {position: relative;width: 927px;margin: 20px 0;	padding: 25px 20px 25px 68px;border: 1px solid #8e8aab;}

#list_area .arrow {position: absolute;top: -8px;left: 486px;width: 22px;height: 16px;}

#list_area.activeShelf {border-color: #ff0000;}

#list_area.hoverShelf {border-color: #00ff00;}

.list_shelf {margin: 0;padding: 0;border-left: 1px solid #908bab;overflow: hidden;_height: 1%;}

.list_shelf ul {position: relative;float: left;width: 213px;padding: 18px 0 0;border-right: 1px solid #908bab;}

.list_shelf li {display: block;margin: 0;padding: 0 28px 18px;width: 157px;height: 37px;}

/* DEC .#advanced_search input.submit {height:23px;width:80px;}*/

#frm_advanced_search #adv_chkbox fieldset label {float:none;width:150px;margin-right: 10px !important;_margin-right: 7px; /* for IE 5.5 and 6 */	vertical-align: top;text-align: right;margin-bottom: 10px;text-transform:capitalize;}

#frm_advanced_search #adv_chkbox fieldset label {margin:0;padding:0;line-height: 20px;}

/* DEC .#frm_advanced_search #adv_chkbox fieldset input {width: 1em;padding: 0;border: none;height: 17px !important;height /**//* DEC .: 20px;}*/

#adv_chkbox ol {margin: 0; padding: 0;}

#adv_chkbox ol li {display:block; margin: 0; padding: 0;_padding-right:5px;}

#course_summary ol {margin: 0; padding: 0;}

#course_summary fieldset ol li {margin: 0; padding:0 0 5px 0;_padding-right:5px;}

#course_summary fieldset label {float:none;width: 100px;margin-right: 10px !important;_margin-right: 7px; /* for IE 5.5 and 6 */vertical-align: top;text-align: right;margin-bottom: 0px;text-transform:capitalize;margin-top:-10px;}

#course_summary {margin-top:-8px;_margin-top:-8px;float:left;padding:0;margin-left:-5px;_margin-left:5px;}

#frm_advanced_search #course_summary fieldset label {margin: 0;padding: 0;}

.course_summary {margin-top:-28px;margin-bottom:-35px;/*	margin-top:-8px;margin-bottom:-15px;*/}

.email_page {background-color:#fff;color:#919295;padding:0;margin:0;}

.email_page fieldset ol {margin:8px 0;_margin-top:10px;padding: 0px;list-style: none;}

.email_page fieldset ol li {list-style: none;margin: 0;padding:0;padding-top:5px;_padding-top:2px;overflow: hidden;_height: 1%;}

.email_page fieldset ol li ol li{list-style: none;margin: 0;padding:0;padding-top:15px;}

.email_page fieldset ol li span{margin-left:0px;/*	_margin-left:10px;*/font-size:0.9em;}

.email_page fieldset ol li span span{margin-left:0px;/*	_margin-left:10px;*/font-size:1.0em;}

.email_page span.big_num {font-size:1.5em;}

.email_page fieldset .left-sub-cont label{float:left;width: 160px;margin-right: 10px !important;_margin-right: 7px; /* for IE 5.5 and 6 */vertical-align: top;text-align: right;margin-bottom: 0px;text-transform:capitalize;font-size:0.9em;}

.email_page fieldset textarea {height:70px;width:265px;border:solid #ccc 1px;padding:2px 0px 2px 2px;margin:5px 0 0 1px;font-family:Arial;font-size:1em;z-index:8;}

/* DEC ..email_page fieldset input {width: 1em;padding: 0;border: solid #ccc 1px;width:135px;color:#333;font-family:Arial;}*/

/* DEC ..email_page fieldset input.submit {background-color:#79BDE9;float:right;border: none;margin:0;padding:1px;margin-right:10px;color:#fff;width:70px;font-size:0.85em;text-transform:uppercase;margin-top:10px;}

 .email_page fieldset input.reset {	background-color:#A6C535;border: none;float:right;width:70px;color:#fff;font-size:0.85em;margin-right:5px;padding:1px;text-transform:uppercase;margin-top:10px;}*/

.email_page p.disclaimer {font-size:0.85em;margin-top:50px;}

h1.error {background:none;color:#f19209;font-size: 1.2em;margin:0; padding: 3px;vertical-align: middle;}

h1.calendar {background:none;color:#f19206;font-size: 1.2em;margin:0; padding: 3px;vertical-align: middle;width:350px;float:left;}

h1.email {background:none;color:#fff;font-size: 1.2em;margin:0; padding:0 0 2px 0;vertical-align: middle;width:350px;float:left;}

a.email_close {	color:#fff;text-decoration:none;background:url(../images/btn_close.gif) no-repeat right 4px;padding-right:15px;}

#emailPage {display:none; padding:10px; position:absolute; background-color:#f19025; z-index:80; width:700px;border:solid #ccc 1px; color:#FFFFFF;}

.btn_close {position:absolute;}

.marginTopMin20Right50 {margin-top:-30px;margin-right:10px;_margin-right:17px;}

table.calendar {width:100%;margin:0;padding:0;margin-top:10px;/*	background-color:#76797c;*/}

.calendar th {background-color:#f19025;padding:5px;width:79px;text-align:center;color:#fff;}

.calendar td.empty{background-color:#ddd;}

.calendar td{padding:0px;height:75px;width:79px;vertical-align:top;text-align:right;color:#76797c;font-size:0.85em;background-color:#eaeaea;border-right:dotted #76797c 1px;border-bottom:dotted #76797c 1px;margin:0px;}

.calendar td p {margin:5px 5px 5px 5px;}

.calendar td.current_date{text-align:right;border:solid #f19209 2px;padding:0;height:70px;width:79px;}

.calendar td.prev{border-right:none;}

.calendar td.above{	border-bottom:none;}

.calendar td.current_date p{background-color:#f19206;width:15px; float:right; height:15px;color:#fff; margin:3.3px;_margin:4px;
 padding:0px; _margin-right:2px;}
 
.calendar td.first{	border-left:dotted #76797c 1px;}

.calendar a.click_here {background:url(../images/icn_arrow_green.gif) no-repeat right;text-decoration:none;padding-right:15px;}

.calendar td div{margin:0px;height:51px;padding:0px;background-color:#a1a1a5;color:#fff;text-align:center;}

.calendar div ul {padding:0px; margin:0px; list-style:none;padding-top:3px;}

.calendar div ul li{text-align:center; padding-bottom:3px;}

.calendar td.current_date div{clear:both;padding:0;margin:0px;height:50px;background-color:#a1a1a5;color:#fff;text-align:center;}

.calendar td a{color:#fff;padding:0px;margin:0px;text-decoration:underline;margin-bottom:5px;}

.cal_pag {float:right;margin-top:3px;color:#f19025;}

.cal_pag a{text-align:right;color:#f19209;font-size:0.9em;padding:0;}

h3.titleGrey {color:#a1a1a5;font-weight:bold;font-size:1.0em;margin-top:16px;}

h3.event_title {color:#f19209;margin:0;margin-top:5px;font-size:1.0em;font-weight:bold;padding:0;}

ol.event_listing {margin:16px 0; padding:0; list-style:none;}

ol.event_listing li{border:dotted #ccc 1px;margin-bottom:16px;padding:13px 5px 5px 13px;}

ol.event_listing li p{padding-left:35px; font-size:0.9em; color:#808083; line-height:20px; padding-bottom:5px;}

ol.event_listing li p.title{background:url(../images/icn_arrow_event.gif) no-repeat left top;}

ol.event_listing li div {padding-left:35px; font-size:0.9em; color:#808083;}

ol.event_listing li div.more_info {	padding-top:10px;color:#f19209;}

ol.event_listing li div.display_inline {width:230px; float:left;}

ol.event_listing li a.download{	background:url(../images/icn_adobe_pdf.gif) no-repeat left top;	padding-left:25px;	padding-bottom:25px;}

ol.event_listing li a.url{color:#79bde9;text-decoration:underline;}

/* DEC .ol.event_listing input.submit {background-color:#f19209;border: solid #ccc 1px;float:right;color:#fff;margin-top:5px;}*/

.event_filter form {margin:0px;padding:0;font-size:0.9em;color:#76797c;}

.event_filter fieldset {margin:10px 0;padding-top:0;padding-bottom:0px;	padding:0px;padding-left:5px;}

.event_filter fieldset p{}

.event_filter fieldset legend{margin:0;padding:0;_margin-left:-6px;font-size:1.0em;background:url(../images/icn_arrow_green.gif) no-repeat left 2px;padding-left:15px;}

.event_filter fieldset ol {margin: 0;padding: 5px 5px 0px 0;list-style: none;}

.event_filter ol.frm_elements {margin:0px;margin-left:15px;_margin-left:17px;padding:0px 5px 0 0;font-size:0.95em;}

.event_filter fieldset ol li {list-style: none;margin: 0;padding: 5px 0;overflow: hidden;_height: 1%;}

.event_filter fieldset ol li ul {margin:0;padding:0;margin-top:10px;}

.event_filter fieldset ol li li{list-style: none;margin: 0;	padding:0;	padding-bottom:3px;	_padding-bottom:0px;overflow: hidden;_height: 1%;float:left;display:block;width:78px;}

.event_filter fieldset ol li label{width:72px;_width:65px;float:left;display:block;color:#76797c;font-size:0.95em;padding-top:2px;}

/* DEC ..event_filter fieldset ol li input {width:60px;text-transform:capitalize;margin-left:2px;_margin-left:4px;color:#333;}*/

.event_filter fieldset ol li select{width:57px;text-transform:capitalize;margin-left:2px;_margin-left:4px;color:#333;font-size:1.0em;}

.event_filter fieldset ol li select.select{width:120px;}

.event_filter fieldset ol li input.chkBox {width:15px;padding:0px; margin:0px;border:none;float:none;}

/* DEC ..event_filter input.submit {background-color:#79bde9;color:#fff;padding:0px 1px 3px 1px;width:75px;height:auto;margin:3px 0;margin-right:5px;_margin-right:5px;	float:right;font-size:1.0em;margin-bottom:-2px;_margin-bottom:-4px;cursor: hand; cursor: pointer;}*/

.event_filter input.show_city {background-color:#79bde9;color:#fff;padding:0px;width:75px;height:auto;margin:3px 0;margin-right:5px;_margin-right:5px;float:right;font-size:1.0em;cursor: hand; cursor: pointer;}

.product-news {width:177px;margin:0 0 16px 0;padding:0;}

.marginTopMin16 {_margin-top:-16px;}

.product-news h2 {margin: 0; padding: 0;  background: url(../images/band_home_h2_modules.jpg) no-repeat; padding-left: 30px; padding-top: 2px; margin-bottom: 6px; height: 19px; background-color:#bbbcbe; font-size: .9em; color:#FFFFFF; font-weight: bold;width:179px;}

.product-news .product-module {/*	border:dotted #ccc 1px;	padding:10px 10px 10px 10px;*/	width:186px;border:1px dotted #ccc;margin: 5px 0 16px 0;padding: 10px; }

.product-module span {float:left;width:50px;margin-right: 10px;}

.product-module span img{border:solid #fab583 1px;}

.product-module ul.useful_links {margin: 0px; padding: 0px;list-style: none;margin-top: 0px;}

.product-module ul.useful_links li{margin: 0px;padding: 0px;margin-top: 5px;padding-left: 15px;background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;}

.product-module ul.useful_links li li{margin: 0px;list-style:none;padding: 0px;margin-top: 5px;padding-left: 15px;background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 2px;}

.product-module ul.useful_links li p {margin-top: 5px;font-size:1em;}

.product-module ul.useful_links li a {text-decoration:none;font-size:.9em;}

.product-module ul.useful_links li a.teaserTitle {text-decoration:none;font-size:1.1em;}

.product-module ul.useful_links li .teaserTitle a:hover {text-decoration: underline;}

.product-module ul.useful_links li a:hover {text-decoration: underline;}

.product-module ul.blue_list {list-style:none;margin: 0;padding: 0;	float: left;width:125px;}

.product-module ul.blue_list li {background:url(../images/icn_arrow_blue.gif) no-repeat 0px 3px;border: none;margin: 0;padding: 0;padding-left: 15px;}

.product-module ul.blue_list li a {color: #3887B8;}

.product-module p.date {color: #666666; font-size: .8em;}

.product-module p {_margin-right:-10px;}

.product-module a.view-all {background:url(../images/icn_arrow_blue.gif) no-repeat left;text-align:right;margin:0px;padding:0px;padding-left:17px;_padding-right:10px;font-size:0.85em;text-decoration:underline;color:#3887B8;}

.product-module ul.orange_list {list-style:none;margin: 0;padding: 0;width:185px;}

.product-module ul.orange_list li {background:url(../images/icn_orange_arrow.jpg) no-repeat 0px 3px;border: none;margin: 0;padding: 0;padding-left: 15px;}

.product-module ul.orange_list li a {color: #f19209;}

#enhanced_performance {width:265px;margin:0;padding:0;}

.enhanced_perf {margin:0;padding:0;}

#enhanced_performance h2 {margin: 0; padding: 0; background: url(../images/band_home_h2_modules.jpg) no-repeat; padding-left: 30px; padding-top: 1px; margin-bottom: -10px; height: 16px; background-color:#bbbcbe; font-size: .9em; color:#FFFFFF; font-weight: bold;width:235px;}

/*.enhanced_performance {margin:0;padding:0;border:dotted #ccc 1px;}*/

.enhanced_performance {border:dotted #ccc 1px;padding:10px 10px 8px 10px;width:241px;font-size:1.0em; margin:16px 0 0 0;}

.enhanced_performance .teaser_heading_blue{margin: -10px 10px 10px -10px;padding: 0;}

.enhanced_performance .teaser_heading_blue span {padding: 1px 5px;background-color:#78BDE8;color:#ffffff;	font-size:1.0em;}

.enhanced_performance .links {width:241px;margin:7px 0 0 -11px;padding:10px 10px 8px 10px;position:absolute; z-index:11; background-color:#fff; border:dotted #ccc 1px;filter:alpha(opacity=90);-moz-opacity:.90;opacity:.90;}

.enhanced_performance .links li {margin:0;padding:0;list-style:none;padding-left:15px;background:url(../images/icn_orange_arrow.jpg) no-repeat left 2px;}

.enhanced_performance ul.orange_list li {list-style:none;margin:0;padding:0;background:url(../images/icn_arrow_orange.jpg) no-repeat left 2px;padding-left:15px;}

.popup {display: none;position: absolute;top: 0;left: 0;z-index: 12;width: 100%;height: 100%;padding-top: 120px;background: url('../images/popup_bg1.png') top left repeat; _background-image: url('../images/popup_blank_bg1.gif'); /* for IE; keeps user from clicking through layer */}

/* filter for ie only to get the png to work */
* html .popup {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/popup_bg1.png',sizingMethod='scale');}

/* popup-cover used to cover select form elements in IE */
#popup-cover {position: absolute;top: 0;left: 0; /* left of popup-container minus negative margin */width: 100%;height: 100%;z-index: 9;}

* html #popup-cover {filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);}

#city_selector {display:none;}

.absolute {position:absolute;}

/* Aug22 .user-info #detail ul li a {background:none;}*/

.home_teaser2 .col1 {width:50px; margin:0 10px 10px 0;_margin-right:0px; _margin-bottom:0px; padding:10px 10px 0px 10px; float:left;}

.home_teaser2 .col2 {width:180px; margin:10px 0 10px 0;_margin-bottom:0px; padding:0; float:left;}



.alignRight {text-align:right;}

#d2_detail_intro {margin-top: -185px;position: relative; width: 790px; float: left;text-align: left;padding:0;}

.d2_detail_intro {	margin-right:50px;_margin-right:25px; position: relative; width: 280px;float: right;text-align: left;padding:5px 5px 10px 15px;}

.d2_detail_intro p {color:#929292; font-size:1.3em; font-weight:bold;}

.imageDiv
{
	position: relative;
	margin-bottom:5px;
	_margin-bottom:10px;
}
.stripeDiv
{
	width: 20px;
	background:url(../images/stripes.gif) repeat-y;
	z-index: 2;
	position: absolute;
	margin-top:5px;
	_margin-top:0px;
	margin-left:5px;
	top: 0px;
	left: 0px;
}

ul.shareprice_tabs {margin:0; padding:0; list-style:none; border-bottom:solid #78bde8 10px; padding-bottom:2px;margin-top:15px;}

ul.shareprice_tabs li.gbp {display:inline; margin-right:5px; padding:2px; background-color:#78bde8;}

ul.shareprice_tabs li.nyse {display:inline; margin-right:5px; padding:2px; background-color:#a5c536;}

ul.shareprice_tabs li a {color:#fff; font-size:0.9em;}

.shareprice_chart{border-bottom:dotted #ccc 1px;border-left:dotted #ccc 1px;border-right:dotted #ccc 1px; padding:5px;}