.paddingTop22 {
	padding-top:22px;
}
.textCenter {
	text-align:center;
}
.searchSort {
	margin-top:8px;
	padding:0;
	background-color:#d4d4d4;
}
.searchSort	fieldset {
	margin:0;
	padding:0;
}
.searchSort	fieldset ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.searchSort	fieldset ul li{
	display:inline;
	padding:0px;
	margin:0px;
}
.searchSort ul li input.sort{
	background-color:#A6C535;
	color:#fff;
	width:50px;
	margin-left:10px;
	cursor: hand; 
	cursor: pointer;
}
.searchSort	fieldset ul li.first{
	margin:0px 25px 0 0;
	font-weight:bold;
}
.searchSort fieldset input.radio {
	border:0px;
}
.searchText {
	width:300px;
}
#search-results  ul {
	margin: 0; 
	padding: 0; 
	margin-top: 10px;
}
#search-results  ul li {
	list-style: none;
}
.search-results {
	padding: 2px 0 0 0px;
	list-style: none;
	border-bottom: 1px dashed #B0AEB0;
	margin-bottom: 8px;
}
li.search-listing {
	margin-bottom: 20px;
}
.search-detail {
	float: left; width: 530px; margin-right: 20px;
}
.search-detail ul.breadcrumbs {
	list-style:none;margin:0px; padding:0px; margin-top:5px; color:#999999;
}
.search-detail ul.breadcrumbs li{
	margin:0px; padding:0px; display:inline;
}
#frm_advanced_search {
	float: left; 
	width: 439px; 
	padding: 5px;
	font-size:0.95em;
}
#frm_advanced_search p {
	float: right;
}
#frm_advanced_search h2 {
	/*background-image: url(../images/arrow_title.jpg); 
	padding-left: 20px; */
	margin-left:13px;
	_margin-left:9px;
	background-repeat: no-repeat; 
	color: #666666;
	font-weight: bold;
}
.caption {
	font-size:1.2em;
	color:#333333;
	font-weight:bold;
}
#frm_advanced_search fieldset ol {
	margin: 0;
	padding: 5px 0 10px 0;
	list-style: none; 
	margin-top: 5px;
}
#frm_advanced_search fieldset ol li {
	list-style: none;
	margin: 0;
	padding: 5px 0;
	overflow: hidden;
	_height: 1%;
}
#frm_advanced_search fieldset .required {
	color: #ff0000;
}
#frm_advanced_search fieldset label {
	float: left;
	width: 150px;
	margin-right: 15px !important;
	_margin-right: 12px; /* for IE 5.5 and 6 */
	line-height: 1.7em;
	vertical-align: top;
	text-align: right;
	font-size: 80%;
	text-transform:uppercase;
}
#frm_advanced_search fieldset label {
	line-height: 1.2em;
	padding-top: .3em;
	padding-bottom: .4em;
}
#frm_advanced_search fieldset input {
	width: 23em;
	padding: 2px 2px 0;
	border: 1px solid #bbb;
	height: 17px !important;
	height /**/: 20px;
}
#frm_advanced_search fieldset select {
	width: 23.4em;
	padding: 0;
	border: 1px solid #bbb;
}
#frm_advanced_search fieldset textarea {
	width: 16.4em;
	padding: 1px 2px 0;
	border: 1px solid #bbb;
}
#frm_advanced_search fieldset ol ul label,
#frm_advanced_search fieldset li.checkbox label {
	float: none;
	width: auto;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 1.7em;
}
#frm_advanced_search fieldset input.submit,
#frm_advanced_search fieldset input.reset {
	margin: 5px 0 0 100px;
	width: 70px;

	padding: 2px;
	border: none;
	color: #ffffff;
	font-size: 70%;
	cursor: hand; 
	cursor: pointer;
	height:23px;
	width:80px;
}
.textCenter {
	text-align:center;
}
#product-detail {
/*	margin-left:40px;*/
}
#product-detail h1 {
	color:#f19209;
	background:none;
	margin-left:12px;
	margin-top:7px;
	max-width:540px;	
}
.supplemental h3 input.text {
	float:left;
	margin-top:2px;
}
.supplemental h3 {
	padding-left:15px;
}
.supplemental p {
	color:#999999;
}
.supplemental input.button {
	background-color:#79bde9;
	color:#FFFFFF;
	margin-top:2px;
	margin-left:5px;
}
.product_category {
	list-style:none;
	_height: 1%;
	margin:10px 0 0 0px;
	padding:0;
}
.pcategory {
	display: inline;
	float:left; 
	width:140px; 
	margin-right: 10px;
	margin-bottom: 20px;
}
ul.product_category li ul.product_category_list {
	margin:0; 
	padding:0;
	margin-top:5px;
	list-style:none;
}
ul.product_category li ul.product_category_list li {
	padding-left: 15px;
	list-style: none;
}
ul.product_category li ul.product_category_list li img{
	border:dotted #ccc 1px;
	padding:2px;
}
ul.product_category li ul.product_category_list li p {
	padding-right:15px;
	font-size:0.95em;
	padding-top:2px;
}

ul.product_category li ul.product_category_list li.description{
	/*background-color:#f19209;*/
	font-size: .85em;
	padding-left: 18px;
	padding-top:3px;
	padding-bottom:3px;
	color:#FFFFFF;
	width:147px;
	margin-left:15px;
	border: 1px solid #f19209;
	background: url(../images/icn_orange_arrow.jpg) no-repeat 3px 4px;
}

ul.product_category li ul.product_category li.description a {
	text-decoration: none;
	color: #f19209;
}

.pcategory {
	margin-right: 30px;
}

ul.product_category li ul.product_category_list {
	margin:0; 
	padding:0;
	margin-top:5px;
	list-style:none;
}
ul.product_category li ul.product_category_list li {
	padding-left: 15px;
	list-style: none;
}
ul.product_category li ul.product_category_list li img{
	border:dotted #ccc 1px;
	padding:2px;
}
ul.product_category li ul.product_category_list li p {
	padding-right:20px;
	font-size:0.95em;
	padding-top:2px;
}
ul.product_category li ul.product_category_list li.description{
/*	background-color:#f19209;*/
	font-size: .85em;
	padding-left:18px;
	padding-top:3px;
	padding-bottom:3px;
	color:#FFFFFF;
	width:127px;
	margin-left:15px;
	border: 1px solid #f19209;
	background:#f19209 url(../images/icn_arrow_green.gif) no-repeat 3px 4px;
}
/*ul#product_category li ul.product_category li.description .details {
	opacity:0.80;filter: alpha(opacity=80);
}
ul#product_category .details p.heading{
font-size:0.85em; color:#f19209;
}
ul#product_category .details a {
	font-size:0.85em; color:#f19209; background:url(../images/icn_orange_arrow.jpg) no-repeat left top; padding-left:15px;
}
ul#product_category li ul.product_category li.description a {
	text-decoration: none;
	color: #fff;
	margin:0;
	padding:0;
}
ul#product_category .details ul.top5_products {
margin:0; padding:0;list-style:none;margin-top:5px;_margin-top:0px; background-color:#00FF00; z-index:1000;
}
ul#product_category .details ul.top5_products li {
padding:0;margin:0;
}
ul#product_category .details ul.top5_products li ul{
list-style:none;padding:0;font-size:1.0em; margin:0 0px 0 5px;
}
ul#product_category .details ul.top5_products li ul a{
background:none; padding:0px; margin:0px;
}
ul#product_category .details ul.top5_products li ul li.image{
display:inline;margin:0 3px 0 0;padding:0;background-color:#FF0000;
}
ul#product_category .details ul.top5_products li ul li.desc{
display:inline; float:left; background-color:#FF0000;
}
ul.top5_products li ul li.desc p.top5_desc {
padding-top:3px;font-size:0.85em;color:#666666;
}*/
a.linkWhite {
	color:#FFFFFF;
}
.search_container {
	text-align:center;
	margin:auto;
	width:960px;
}
.results-container {
	width:540px;
	margin:auto;
	text-align:left;
}

.email_sent {
	width:520;
	padding:10px;
	margin-left:210px;
	text-align:left;
	border:dotted #ccc 1px;
}

.email_sent h2 {font-size:1.0em; color:#919295; font-weight:bold; margin:15px 0 0 0;}

.email_sent p {margin-top:10px; font-size:0.9em;}

.display-none {
	display:none;
}
ul.browseCategory li ul{
width:192px;font-size:0.9em;
margin:0px 4px 5px 4px;
}
ul.browseCategory li ul li{
padding:0 10px 0 0;margin:0;list-style:none;
}
ul.browseCategory li ul li input{
border:none;
}
#adv_chkbox fieldset {
	width: 300px;margin: 0; padding: 0;
}
#adv_chkbox fieldset ol{
margin: 0; padding: 0;
}
#adv_chkbox fieldset ol li{
display: inline; margin: 0; padding: 0 20px 0 0;_padding-right:25px;
}
/* product - view all version */
.view-all #product-detail {
	margin:0;
	width:540px;
}
.view-all #product-detail h1{
	color:#f19209;
	background:none;
	margin:0px;
	margin-top:7px;
	width:100%;
}
.view-all ul.product_category {
	list-style:none;
	_height: 1%;
	margin:0;
	margin-top:10px;
	padding:0;
	width:540px;
}
.view-all li.pcategory {
	display: inline;
	float:left; 
	width:110px; 
	margin-right: 30px;
	margin-bottom: 20px;
}
.view-all ul.product_category li ul.product_category_list {
	margin:0; 
	padding:0;
	margin-top:5px;
	list-style:none;
}
.view-all ul.product_category li.last {
	margin-right:0px;
}
.view-all ul.product_category li ul.product_category_list li {
	padding-left:0px;
	list-style: none;
}
.view-all ul.product_category li ul.product_category_list li img{
	border:dotted #ccc 1px;
	padding:2px;
}
.view-all ul.product_category li ul.product_category_list li p {
	padding-right:20px;
	padding-top:2px;
	font-size:0.85em;
}
.view-all ul.product_category li ul.product_category_list li.description{
	margin-top:4px;
	padding-left:3px;
	padding-top:3px;
	padding-bottom:3px;
	color:#666666;
	width:100px;
	margin-left:0px;
	background:none;
}
.view-all ul.product_category li ul.product_category_list li a {
	text-decoration: none;
	background:url(../images/icn_orange_arrow.jpg) no-repeat left 2px;
	padding-left:15px;
	color: #f19209;
	font-size:0.9em;
}
.view-all ul.product_category li ul.product_category_list li a:hover {
	text-decoration: underline;
}
.top-5-downloads, .recent-downloads, .M8_teaser {
	border:dotted #ccc 1px;
	margin:0px;
	padding:0px;
	padding-bottom:10px;
	margin-top:16px;
}
.M8_teaser ul {
	margin:0px 5px 0 5px; padding:0px; list-style:none;
}
.M8_teaser ul li a{
	background:url(../images/icn_orange_arrow.jpg) no-repeat left 3px;
	padding-left:15px;
}
.M8_teaser li ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.M8_teaser li li {
	margin:5px 0px 0 0;
	padding:0px;
}
.M8_teaser li li p.link_text {
	font-size:0.85em;
	margin-top:2px;
	margin-bottom:5px;
	padding-left:16px;
}
.M8_teaser a.teaser_title {
	font-size:1.1em;
}
/*.recent-downloads h5{
	margin-bottom: 10px;
	background-color:#f19029;
	color:#ffffff;
	width: 160px;
	padding: 2px 5px;
	font-size:1.0em;
}*/
.top-5-downloads ul, .recent-downloads ul{
	margin:0 0 0 10px;
	padding:0;
	list-style:none;
}
.top-5-downloads ul li a, .recent-downloads ul li a{	
	font-size:0.9em;
}
/*.top-5-downloads h5{
margin-bottom: 10px;
	background-color:#f19029;
	color:#ffffff;
	width: 130px;
	padding: 2px 5px;
	font-size:1.0em;
/*	margin-top:-1px;
	margin-left:-1px;
}*/
p.link_text, a.link_text {
	font-size:0.85em;
	margin:0;
	padding:0;
}
.product_teaser {
	margin:0px;
	padding:0px 0 0px 0;
	border:dotted #ccc 1px;
	color:#666666;
}
.product_teaser li img {
	border:solid #ccc 2px;
}
.product_teaser ul {
	margin:0 5px 5px 5px;
	padding:0px;
	list-style:none;
}
.product_teaser ul li{
	margin:0;
	padding:0 0 10px 0;
}
.product_teaser ul li a{
	background:url(../images/icn_orange_arrow.jpg) no-repeat left 2px;
	padding:0px;
	padding-left:15px;
	margin:0px;
}
.overflow_hidden {
	overflow:hidden;
}

.suggestions {display: none;clear:left;position: absolute;height: auto;background: #ffffff;z-index: 11;margin: 0;margin-top:2px;padding: 0;border: 1px solid #f19209; padding: 2px;width:118px;_width:120px;}

.pdt_hero_image {width:780px;border:solid 5px #ececee;}