<%@ Control Language="c#" AutoEventWireup="True" Codebehind="Header.ascx.cs" Inherits="CrossRef.Header" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<table cellspacing="0" cellpadding="5" width="100%" align="center" border="0" id="Table1">
	<tr>
		<td width="52%"><div align="left">
				<asp:Label ID="lblAppName" runat="server" Text="Competitor Cross Reference" ForeColor="DarkGray"
					Font-Size="16pt" Font-Bold="True"></asp:Label>
			</div>
		</td>
		<td width="48%">
			<div align="right"><IMG src="images/logo.gif" width="210" height="39"></div>
		</td>
	</tr>
	<tr>
		<td colspan="2"><hr>
		</td>
	</tr>
</table>
