/* body */
body {margin:0px;	padding:0px;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:0.8em;background-color:#cccccc;color:#666667;}
/* shell */
#shell {margin:auto;padding:10px;width:1200px;background-color:#FFFFFF;text-align:center}
#SearchBox{border-left:1px solid #cccccc; border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #cccccc;}

td{ text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:10pt;}
/*td{ font-family:Arial, Helvetica, sans-serif; font-size:8pt; text-align:left}*/

.SearchGrid td{ text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:9pt;}
.SearchGrid A:link {color:#FF7300; font-family: Arial, Helvetica, sans-serif; font-size:9pt; text-decoration:none }
.SearchGrid A:visited {color:#FF7300; font-family: Arial, Helvetica, sans-serif; font-size:9pt; text-decoration:none}
.SearchGrid A:hover {color:White; font-family: Arial, Helvetica, sans-serif; font-size:9pt; text-decoration:none} 

.Email td{ text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:12pt;}
.Email A:link {color:#FF7300; font-family: Arial, Helvetica, sans-serif; font-size:10pt; text-decoration:underline }
.Email A:visited {color:#FF7300; font-family: Arial, Helvetica, sans-serif; font-size:10pt; text-decoration:underline}
.Email A:hover {color:#79BDE9; font-family: Arial, Helvetica, sans-serif; font-size:10pt; text-decoration:underline} 

A:link {color:#FF7300; font-family: Arial, Helvetica, sans-serif; font-size:10pt; text-decoration:none }
A:visited {color:#FF7300; font-family: Arial, Helvetica, sans-serif; font-size:10pt; text-decoration:none}
A:hover {color:#79BDE9; font-family: Arial, Helvetica, sans-serif; font-size:10pt; text-decoration:none} 

#hintbox{ /*CSS for pop up hint box */
	position:absolute; top: 0; background-color:#ffffe0; width: 200px; /*Default width of hint.*/ 
	padding: 3px; border:1px solid black; font:normal 11px Verdana; line-height:18px;
	z-index:100; border-right: 3px solid black; border-bottom: 3px solid black;
	visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
	font-weight: bold; color: navy; margin: 3px 8px;
}


