﻿
#hintbox{ /*CSS for pop up hint box */
    position:absolute; top: 0; background-color: #FFFFC0; width: 200px; /*Default width of hint.*/ 
    padding: 3px; border:1px solid black; font:normal 11px Verdana; line-height:18px;
    z-index:100; border-right: 3px solid black; border-bottom: 3px solid black; text-align:left;
    visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
    font-weight: bold; color: navy; margin: 3px 8px;
}

a.hintanchor {color:#FF7300;text-decoration:underline; font-weight: bold;}
a.hintanchor:visited {color:#FF7300;text-decoration:underline; font-weight: bold;}
a.hintanchor:link {color:#FF7300;text-decoration:underline; font-weight: bold; font-size:small}
a.hintanchor:active {color:#FF7300;text-decoration:underline; font-weight: bold;}
a.hintanchor:hover {color:#79BDE9;text-decoration:underline; font-weight: bold;}



