﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="SalesRequestForms.Site" %>

<!doctype html>

<html>
    <head id="Head1" runat="server">
    <title>Untitled Page</title>
    <link href="Styles/global.css" rel="stylesheet" type="text/css" />
    <link href="Styles/StyleNED.css" rel="stylesheet" type="text/css" />
    <link href="Styles/HintStyle.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="Scripts/jquery-1.4.1-vsdoc.js"></script>
    <script type="text/javascript" src="Scripts/jquery-1.4.1.js"></script>
    <script type="text/javascript" src="Scripts/jquery-1.4.1.min.js"></script>
    <!-- Style sheet must appear before the iFrame and the Javascript after the iFrame -->

    <!--[if lte IE 6]><!--[if gte IE 5.5]><IFRAME 
    id=hintboxiframe style="DISPLAY: none; Z-INDEX: 99; POSITION: absolute" src="" 
    frameBorder=0></IFRAME><![endif]-->
    <!--![endif]-->

    <script type="text/javascript">
        function clearTextOnFocus(obj)
        {
            obj.value="";
        }
    </script>


    <asp:ContentPlaceHolder ID="HeadContent" runat="server"></asp:ContentPlaceHolder>
</head>
<body id="myBody" runat="server">

    <form id="form1" runat="server">
    <div id="wideShell">
    
        <table width="100%">
            <tr>
                <td>
                
                    <table cellspacing="0" cellpadding="5" width="100%" align="center" border="0">
                        <tr>
                            <td width="60%">
                                <div align="left">
                                    <asp:Image ID="Image1" ImageUrl="~/images/logo.gif" runat="server" Width="221" AlternateText="Smith &amp; Nephew" />
                                </div>
                            </td>
                            <td width="40%">
                                <div align="right">
                                    <asp:Button ID="btnAppName" BorderStyle="None" ForeColor="DarkGray" BackColor="White"
                                        BorderColor="White" Text="Sales Request Forms" Font-Size="16pt" Font-Bold="True" runat="server"
                                        CausesValidation="False" OnClick="BtnAppName_Click"></asp:Button></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr />
                            </td>
                        </tr>
                    </table>

                    <table style="background-color:#676264; text-align:center; table-layout:fixed" width="100%" >
                        <tr>
                            <td style="text-align:left">
                                <asp:Menu ID="NavMenu" runat="server" Orientation="Horizontal"  
                                    OnMenuItemClick="OnClick" BackColor="#676264" DynamicHorizontalOffset="2" 
                                    Font-Names="Arial, Helvetica, sans-serif" Font-Size="10pt" ForeColor="#666666" 
                                    StaticSubMenuIndent="40px" StaticEnableDefaultPopOutImage="false">
                                    <DynamicHoverStyle BackColor="#666666" ForeColor="White" />
                                    <DynamicMenuItemStyle HorizontalPadding="50px" VerticalPadding="4px"></DynamicMenuItemStyle>

                                    <DynamicMenuStyle BackColor="#E3EAEB" />
                                    <DynamicSelectedStyle BackColor="#1C5E55" />
                                    <StaticHoverStyle BackColor="#666666" ForeColor="White" />

                                    <StaticMenuItemStyle HorizontalPadding="50px" VerticalPadding="4px"></StaticMenuItemStyle>
                                    <StaticSelectedStyle BackColor="#1C5E55" />
                                </asp:Menu>
                            </td>
                        </tr>
                    </table>

                </td>
            </tr>



            <tr>
                <td style="width:100%" valign="top"><asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder></td>
            </tr>
            
        </table>
    </div>
    </form>
</body>
</html>