﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Unauthorized.aspx.cs" MasterPageFile="MasterNED.Master" Inherits="NonEmployee.Unauthorized" Title="Unauthorized" %>

<asp:Content ID="Content2" ContentPlaceHolderID="head" runat=server>

</asp:Content>
<asp:Content ContentPlaceHolderID=ContentPlaceHolder1 ID="Content3" runat=server>
    <div>
        <table width=600 align=center border=1>
            <tr height=200px valign=middle>
                <td style="text-align:center"> 
                    <asp:Label ID="lblMsg" Font-Size=11pt runat="server"></asp:Label>
                </td>
            </tr>
        </table>
    </div>
</asp:Content>