<%@ Control Language="c#" AutoEventWireup="True" Codebehind="AdminHeader.ascx.cs" Inherits="ReimbursementAdmin.AdminHeader" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
<LINK href="global.css" type="text/css" rel="stylesheet">
<table cellSpacing="0" cellPadding="5" width="100%" align="center" border="0" id="Table2">
	<tr>
		<td width="52%">
			<IMG height="66" alt="" hspace="3" src="images/main-logo.gif" width="221"
				border="0">
		</td>
		<td width="48%">
			<div align="right"></div>
		</td>
	</tr>
</table>
<table cellSpacing="0" cellPadding="0" width="100%" align="center" border="0" id="Table1">

	<tr>
		<td colSpan="5"><hr color="#666666">
		</td>
	</tr>
</table>
