﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Unauthorized.aspx.cs" MasterPageFile="~/Site.Master" Inherits="CrystalReportsNet.Unauthorized" Title="Unauthorized" %>

<asp:Content ID="Content2" ContentPlaceHolderID="HeadContent" runat="server">

</asp:Content>
<asp:Content ContentPlaceHolderID="MainContent" ID="Content3" runat="server">
    <div>
        <table width="600" align="center" border="1">
            <tr height="200px" valign="middle">
                <td style="text-align:center"> 
                    <asp:Label ID="lblMsg" Font-Size="11pt" runat="server"></asp:Label>
                </td>
            </tr>
        </table>
    </div>
</asp:Content>