/* styles to be used in Smith & Nephew */
.yourpaddingclass {
padding: 20px;
}

/* body */
body {margin:0px;	padding:0px;text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:0.8em;background-color:#cccccc;color:#666667;}

/* shell */
#shell {margin:auto;padding:10px;width:980px;background-color:#FFFFFF;text-align:center;}

/* shell */
#wideShell {margin:auto;padding:10px;width:2500px;background-color:white;text-align:left;}

/* Fix for extra space above menu in Chrome and Safari */
img[alt='Skip Navigation Links'] {     display: none; } 


td{ text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:8pt}
/*h5 {background-color:#78BDE8;color:#ffffff;}*/
.titleheader {background-color:#ffffff;color:#78BDE8; font-size:12pt;font-weight: bold; height:35px; vertical-align:bottom}
.titleDup {background-color:#ffffff;color:#78BDE8; width:300px; font-size:12pt;font-weight: bold; height:35px; vertical-align:bottom}


table.PageTable{width:960px; text-align:center}
#FilterRow table{width:960px; text-align:center; border:1px solid #cccccc;}
#Search table{width:730px; text-align:center; border: 0px }
#SearchButtons table{width:200px; text-align:center; border: 0px}
#SalesRep table{width:100%; text-align:center; border: 0px}
#SalesRepID table{width:100%; text-align:center; padding:0; border: 0px}

table.PageTable800{width:800px; text-align:left}

/* orange title without backround color */
h1.pageHeading {background:none;color:#F89828;font-size: 1.2em;margin:0; padding:0px;height: 17px;width:130px;vertical-align: middle;}

h1.titleBlue, h2.titleBlue, h3.titleBlue, h5.titleBlue {background-color:#78BDE8;color:#ffffff;}

h5.titleBlue, h5.titleGreen, h5.titleOrange {margin-left:-1px;margin-top:-1px;}

h1.titleGreen, h2.titleGreen, h3.titleGreen, h5.titleGreen {background-color:#a5c536;color:#ffffff;}

h1.titleOrange, h2.titleOrange, h3.titleOrange, h5.titleOrange {background-color:#f19029;color:#ffffff;}

h1.titleBlue {font-size: 1.2em;}

span.titleGrey {color:#a1a1a5;font-size:1em;}

h1.titleGrey {color:#919295;font-size:1.4em;background:none;padding:0px;font-weight:normal;}

h2.titleGrey {color:#333333;font-size:1em;margin-left:10px;padding:0px;}

h3.orangeTitle {margin:0px;padding:0px;font-size:1.2em;font-weight:normal;color:#f09028;}

h5.teaserTitle {color:#666;font-size:1.0em; margin:0; padding:0;}

h6 {margin:0px;padding:0px;}

p {padding:0px;margin:0px;}

input.button {
    background-color:#79bde9;
    color:#FFFFFF;
    margin-top:2px;
    margin-left:5px;
}

.buttonsSubmit
{
	border-style: none;
	border-color: inherit;
	border-width: medium;
	background-color: #79BDE9;
	float: none;
	margin: 0;
	padding: 1px;
	_padding-right: 10px;
	color: #ffffff;
	font-size: 10pt;
	cursor: pointer;
}
.buttonsSubmitBorder
{
	border-style: none;border-color: inherit;border-width: medium;
	background-color: #79BDE9;
	float: none;margin: 0;padding: 1px;_padding-right: 10px;
	color: Black;
	font-size: 10pt;cursor: pointer;
}
.btnSN
{
	border-style: none;border-color: inherit;border-width: medium;
	background-color: #666666;
	float: none;margin: 0;padding: 10px;_padding-right: 10px;
	color: #ffffff;
	font-size: 10pt;cursor: pointer;
}
.buttonsMaterial {background-color:white;float:none;border:1px solid #cccccc;margin:0;padding:1px;_padding-right:10px;color:#FF7300;width:50px;    font-size:10pt;}

.buttonsGrid {background-color:white;float:none;border:1px solid #cccccc;margin:0;padding:1px;_padding-right:10px;color:#FF7300;width:50px;    font-size:8pt;}
.buttonsClose {background-color:white;float:none;border:1px solid #cccccc;margin:0;padding:1px;_padding-right:10px;color:#FF7300;width:100px;    font-size:8pt;
    height: 22px;
}


#SearchGrid
#SearchGrid a {color:#FF7300;text-decoration:underline; font-weight:bold;}
#SearchGrid a:visited {color:#FF7300;text-decoration:underline; font-weight: bold;}
#SearchGrid a:link {color:#FF7300;text-decoration:underline; font-weight: bold;}
#SearchGrid a:active {color:#FF7300;text-decoration:underline; font-weight: bold;}
#SearchGrid a:hover {color:#79BDE9;text-decoration:underline; font-weight: bold;}

#SearchGrid a.ID {color:#FF7300;text-decoration:none; font-weight: normal;}
#SearchGrid a.ID:visited {color:#FF7300;text-decoration:none; font-weight: normal;}
#SearchGrid a.ID:link {color:#FF7300;text-decoration:none; font-weight:normal;}
#SearchGrid a.ID:active {color:#FF7300;text-decoration:none; font-weight: normal;}
#SearchGrid a.ID:hover {color:#79BDE9;text-decoration:none; font-weight: normal;}


#SearchPage
a {color:#FF7300;text-decoration:underline; font-weight: bold;}
a:visited {color:#FF7300;text-decoration:underline; font-weight: bold;}
a:link {color:#FF7300;text-decoration:underline; font-weight: bold;}
a:active {color:#FF7300;text-decoration:underline; font-weight: bold;}
a:hover {color:#79BDE9;text-decoration:underline; font-weight: bold;}

a.ID {color:#FF7300;text-decoration:none; font-weight: normal;}
a.ID:visited {color:#FF7300;text-decoration:none; font-weight: normal;}
a.ID:link {color:#FF7300;text-decoration:none; font-weight:normal;}
a.ID:active {color:#FF7300;text-decoration:none; font-weight: normal;}
a.ID:hover {color:#79BDE9;text-decoration:none; font-weight: normal;}



a.keyword {color:#f09206;text-decoration:none;font-weight: bold;}

a.keyword:hover {text-decoration:underline;}

.keyword {color:#999999;font-weight: bold;}

.TARight { text-align:right; }

.TALeft { text-align:left; }

.TACenter { text-align:center; }