﻿
#navBar{font-family:Arial, Helvetica, sans-serif;font-size:x-large}

#navBar table{background-color:#676264; text-align:center;}

#navBar a {color:#FF7300;text-decoration:underline; font-weight:bold;}
#navBar a:visited {color:#FF7300;text-decoration:underline; font-weight: bold;}
#navBar a:link {color:#FF7300;text-decoration:underline; font-weight: bold;}
#navBar a:active {color:#FF7300;text-decoration:underline; font-weight: bold;}
#navBar a:hover {color:white;text-decoration:underline; font-weight: bold;}


.SimpleMenu ul.AspNet-Menu /* Tier 1 */
{
  /*  width: 13em;*/ /* This is more than (6em x 2) because we want to leave room for borders around the <li> elements that are selected */
  width:100%;
}

.SimpleMenu ul.AspNet-Menu ul  /* Tier 2 */
{
  width: 400px;
  /*  width: 10em;*/
    top: 100%;
    left: 0;
}

.SimpleMenu ul.AspNet-Menu ul ul  /* Tier 3+ */
{
  width: 400px;
    top: -0.5em;
    left: 6em;
}

.SimpleMenu li /* individual list items; all list items */
{
  width: 400px;
  /*  width: 10em;*/
 /*   background: #eeeeee;*/
    background-color:#676264;

}

.SimpleMenu li:hover, /* list items being hovered over */
.SimpleMenu li.AspNet-Menu-Hover
{
  /*  background: Black;*/
    background-color:#676264;
}

.SimpleMenu a, /* all anchors and spans (nodes with no link) */
.SimpleMenu span
{
  width: 400px;
    color: #FF7300;
    padding: 4px 2px 4px 8px;
    border:1px solid #cccccc;
}

.SimpleMenu li.AspNet-Menu-Leaf a, /* leaves */
.SimpleMenu li.AspNet-Menu-Leaf span
{
    background-image: none !important;
}

.SimpleMenu li:hover a, /* hovered text */
.SimpleMenu li:hover span,
.SimpleMenu li.AspNet-Menu-Hover a,
.SimpleMenu li.AspNet-Menu-Hover span,
.SimpleMenu li:hover li:hover a,
.SimpleMenu li:hover li:hover span,
.SimpleMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.SimpleMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover span,
.SimpleMenu li:hover li:hover li:hover a,
.SimpleMenu li:hover li:hover li:hover span,
.SimpleMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover a,
.SimpleMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li.AspNet-Menu-Hover span
{
	color: White;
}

.SimpleMenu li:hover li a, /* the tier above this one is hovered */
.SimpleMenu li:hover li span,
.SimpleMenu li.AspNet-Menu-Hover li a,
.SimpleMenu li.AspNet-Menu-Hover li span,
.SimpleMenu li:hover li:hover li a,
.SimpleMenu li:hover li:hover li span,
.SimpleMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li a,
.SimpleMenu li.AspNet-Menu-Hover li.AspNet-Menu-Hover li span
{
    color: #FF7300;
}

.SimpleMenu .AspNet-Menu-Selected /* this tier is selected */
{
    border: solid 1px White !important;
}

.SimpleMenu .AspNet-Menu-ChildSelected /* a tier below this one is selected */
{
    border: solid 1px White !important;
}

.SimpleMenu .AspNet-Menu-ParentSelected /* a tier above this one is selected */
{
    border: solid 1px White !important;
}

#EntertainmentMessage
{
    padding-top: 2em;
    clear: both;
}

.SimpleMenu .static-menu-item
{
	background-color:White;
}