
input-checkbox {
overflow: hidden;
font-size: 12pt; 
width: 100%; 
height: 100%; 
padding: 0px 5px; 
margin: 0px 0px 1px 0px; 
vertical-align: middle; 
}


body {color:#000000; background: #ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12pt;}

a {text-decoration:underline; color:#0000FF;}

#navigation {display:none;}
#other {display:none;}
#header {display:none;}
#footer {display:none;}
#region-left-navigation {display:none;}
#region-footer {display:none;}
#horizontalNav {display:none;}
#masthead {display:none;}
#breadcrumbs {display:none;}
#print-and-email {display:none;}

#pagePrintContent{
position: relative;
width: 97%;
height: 100%;
overflow:visible; 
}

#pageContent{
position: relative;
width: 80%;
height: 100%;
overflow:visible; 
}

#pageContenetScroller
{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: auto;
border: 4px #fff outset;
overflow: hidden; 

}

#check label {font-size: 8pt;width: 110px;}

#disclaimer 
{
	font-size: 8pt; 
	font-family: Arial, Helvetica, sans-serif;; 
	line-height:11.7pt;
	overflow: scroll;
	height: 300px;
	width: 97%;
}

#disclaimerTable 
{
	font-size: 8pt; 
	font-family: Arial, Helvetica, sans-serif;; 
	width: 700px;
}

#whyRegisterdisclaimer 
{
	font-size: 8pt; 
	font-family: Arial, Helvetica, sans-serif;; 
	line-height:11.7pt;
	overflow:visible;
	height:auto;
	width: 75%;
}

#disclaimerpara {font-size:9pt; font-family:Arial, Helvetica, sans-serif; line-height:11.7pt}



