#disclaimerpara {font-size:9pt; font-family:Tahoma; line-height:11.7pt}

#whyRegisterdisclaimer 
{
	font-size: 8pt; 
	font-family: Tahoma, Verdana, Helvetica, Sans-Serfiffont-size: 8pt; 
	line-height:11.7pt;
	overflow: scroll;
	height: 350px;
	width: 97%;
}
