td { font-size:10pt; font-family: Arial, Helvetica, sans-serif }

/*#orangeTitle {margin:0px;padding:0px;font-size:1.2em;font-weight:normal;color:#f09028;}*/

#orangeTitle {font-family: Arial, Helvetica, sans-serif; font-weight:bold; font-size:11pt; vertical-align:middle; background-color:#F89828;color:#ffffff; margin:0; padding:5px;height: 25px;width:300px;vertical-align: middle;}

/*h1.titleBlue, h2.titleBlue, h3.titleBlue, h5.titleBlue {}*/

#disclaimerpara {font-size:9pt; font-family:Tahoma; line-height:11.7pt}

#whyRegisterdisclaimer 
{
	font-size: 8pt; 
	font-family: Arial, Helvetica, sans-serif: 8pt; 
	line-height:11.7pt;
	overflow: scroll;
	height: 350px;
	width: 97%;
}


#hintbox{ /*CSS for pop up hint box */
	position:absolute; top: 0; background-color: lightyellow; width: 200px; /*Default width of hint.*/ 
	padding: 3px; border:1px solid black; font:normal 11px Verdana; line-height:18px;
	z-index:100; border-right: 3px solid black; border-bottom: 3px solid black;
	visibility: hidden;
}

.hintanchor{ /*CSS for link that shows hint onmouseover*/
	font-weight: bold; color: navy; margin: 3px 8px;
}


.smallDisclaimer
{
	text-align: left; font-size: 6pt; FONT-FAMILY: Arial, Helvetica, sans-serif; 
}

A.anchorAbbrev:Link
{
FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

A.abbrevLinks 
{ 
	font-size: 11pt; color: #ff7300; FONT-FAMILY: Arial, Helvetica, sans-serif; border-style:none
}

A.abbrevLinks:visited 
{ 
	font-size: 11pt; color: #ff7300; FONT-FAMILY: Arial, Helvetica, sans-serif; border-style:none
}

A.abbrevLinks:hover
{ 
	font-size: 11pt; color: #ff7300; FONT-FAMILY: Arial, Helvetica, sans-serif; border-style:none
}

.spine
{
	FONT-SIZE: 11pt; FONT-FAMILY: Arial, Helvetica, sans-serif;
}

/* Class abbrevButtons */
.abbrevButtons 
{ text-align: left; font-size: 11pt; color: #ff7300; FONT-FAMILY: Verdana, Arial, Tahoma; background-color: White; border-style:none
	
}

.buttonsSubmit {background-color:#79BDE9;float:right;border: none;margin:0;padding:1px;_padding-right:10px;color:#fff;width:70px;	font-size:0.85em;}

.buttonsReset {	background-color:#A6C535;border: none;float:right;width:70px;color:#fff;font-size:0.85em;margin-right:5px;padding:1px;}

/*.subMenu {font-size: 6pt;}
.subMenu td {background-color:#E0E0E0;font-size: 11pt; color: #ff7300; font-family: Arial, Helvetica, sans-serif; border-style:none}
*/
.subMenu
	{
		BORDER-RIGHT: black thin solid; 
		BORDER-TOP: black thin solid; 
		BORDER-LEFT: black thin solid; 
		BORDER-BOTTOM: black thin solid;
	}












